## Rubric

Instructions: DELETE this cell before you submit via a `git push` to your repo before deadline. This cell is for your reference only and is not needed in your report. 

Scoring: Out of 10 points

- Each Developing  => -2 pts
- Each Unsatisfactory/Missing => -4 pts
  - until the score is 

If students address the detailed feedback in a future checkpoint they will earn these points back


|                  | Unsatisfactory                                                                                                                                                                                                    | Developing                                                                                                                                                                                              | Proficient                                     | Excellent                                                                                                                              |
|------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| Data relevance   | Did not have data relevant to their question. Or the datasets don't work together because there is no way to line them up against each other. If there are multiple datasets, most of them have this trouble | Data was only tangentially relevant to the question or a bad proxy for the question. If there are multiple datasets, some of them may be irrelevant or can't be easily combined.                       | All data sources are relevant to the question. | Multiple data sources for each aspect of the project. It's clear how the data supports the needs of the project.                         |
| Data description | Dataset or its cleaning procedures are not described. If there are multiple datasets, most have this trouble                                                                                              | Data was not fully described. If there are multiple datasets, some of them are not fully described                                                                                                      | Data was fully described                       | The details of the data descriptions and perhaps some very basic EDA also make it clear how the data supports the needs of the project. |
| Data wrangling   | Did not obtain data. They did not clean/tidy the data they obtained.  If there are multiple datasets, most have this trouble                                                                                 | Data was partially cleaned or tidied. Perhaps you struggled to verify that the data was clean because they did not present it well. If there are multiple datasets, some have this trouble | The data is cleaned and tidied.                | The data is spotless and they used tools to visualize the data cleanliness and you were convinced at first glance                      |

# COGS 108 - Data Checkpoint

## Authors

Instructions: REPLACE the contents of this cell with your team list and their contributions. Note that this will change over the course of the checkpoints

This is a modified [CRediT taxonomy of contributions](https://credit.niso.org). For each group member please list how they contributed to this project using these terms:
> Analysis, Background research, Conceptualization, Data curation, Experimental investigation, Methodology, Project administration, Software, Visualization, Writing – original draft, Writing – review & editing

Example team list and credits:
- Alice Anderson: Conceptualization, Data curation, Methodology, Writing - original draft
- Bob Barker:  Analysis, Software, Visualization
- Charlie Chang: Project administration, Software, Writing - review & editing
- Dani Delgado: Analysis, Background research, Visualization, Writing - original draft

## Research Question

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Background and Prior Work

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Hypothesis

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Data

### Data overview

Instructions: REPLACE the contents of this cell with descriptions of your actual datasets.

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
  - Description of the variables most relevant to this project
  - Descriptions of any shortcomings this dataset has with repsect to the project
- Dataset #2 (if you have more than one!)
  - same as above
- etc

Each dataset deserves either a set of bullet points as above or a few sentences if you prefer that method.

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

- NBA Players Advanced Stats Data (from website)
  - Name: TS-2022.csv
  - https://www.basketball-reference.com/leagues/NBA_2022_advanced.html
  - observations: 813
  - variables: 30
  - most relevant variables:
     - G: Games. This is the amount of games a player has played in this season. A high number means that this player has played many matches in this season. For example, G=80 means this player has played 80 matches during the season.
     - MP: Minutes Played. This measures how much a player has played in the season in minutes. A high number means that this player has played many matches in this season. For example, MP=300 means this player has played for 300 minutes in this season.
     - TS%: True Shooting Percentage. This measures the shooting efficiency in 2-points field goal, 3-points field goal, and free throws. This percentage equals to "points scored" divided by "shooting attempts", where the "shooting attempts" is calculated with special formula. For example, when TS%=50, it means this player has made higher score compared to other players who made the same amount of shooting attempts with TS%=30.
  - Shortcoming: TS% would be less accurate when the player played too few games. For example, when a play has made a successful 2-point field goal, but that is the only shooting attempt from this player in the season, the TS% of this player would be very high. However, this can't be used to measure the performance of this player. Therefore, we will drop the players who played too few in the season. The threshold would be decided.

In [1]:
# Run this code every time when you're actively developing modules in .py files.  It's not needed if you aren't making modules
#
## this code is necessary for making sure that any modules we load are updated here 
## when their source code .py files are modified

%load_ext autoreload
%autoreload 2

In [2]:
# Setup code -- this only needs to be run once after cloning the repo!
# this code downloads the data from its source to the `data/00-raw/` directory
# if the data hasn't updated you don't need to do this again!

# if you don't already have these packages (you should!) uncomment this line
# %pip install requests tqdm

import sys
sys.path.append('./modules') # this tells python where to look for modules to import

import get_data # this is where we get the function we need to download data

# replace the urls and filenames in this list with your actual datafiles
# yes you can use Google drive share links or whatever
# format is a list of dictionaries; 
# each dict has keys of 
#   'url' where the resource is located
#   'filename' for the local filename where it will be stored 
datafiles = [
    { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/airline-safety/airline-safety.csv', 'filename':'airline-safety.csv'},
    { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/bad-drivers/bad-drivers.csv', 'filename':'bad-drivers.csv'}
]

get_data.get_raw(datafiles,destination_directory='data/00-raw/')

Overall Download Progress:   0%|          | 0/2 [00:00<?, ?it/s]
Downloading airline-safety.csv:   0%|          | 0.00/1.23k [00:00<?, ?B/s]
Overall Download Progress:  50%|█████     | 1/2 [00:00<00:00,  5.64it/s]

Successfully downloaded: airline-safety.csv

Downloading bad-drivers.csv:   0%|          | 0.00/1.37k [00:00<?, ?B/s]
Overall Download Progress: 100%|██████████| 2/2 [00:00<00:00,  5.82it/s]

Successfully downloaded: bad-drivers.csv

### Dataset #1 

Instructions: 
1. Change the header from Dataset #1 to something more descriptive of the dataset
2. Write a few paragraphs about this dataset. Make sure to cover
   1. Describe the important metrics, what units they are in, and giv some sense of what they mean.  For example "Fasting blood glucose in units of mg glucose per deciliter of blood.  Normal values for healthy individuals range from 70 to 100 mg/dL.  Values 100-125 are prediabetic and values >125mg/dL indicate diabetes. Values <70 indicate hypoglycemia. Fasting idicates the patient hasn't eaten in the last 8 hours.  If blood glucose is >250 or <50 at any time (regardless of the time of last meal) the patient's life may be in immediate danger"
   2. If there are any major concerns with the dataset, describe them. For example "Dataset is composed of people who are serious enough about eating healthy that they voluntarily downloaded an app dedicated to tracking their eating patterns. This sample is likely biased because of that self-selection. These people own smartphones and may be healthier and may have more disposable income than the average person.  Those who voluntarily log conscientiously and for long amounts of time are also likely even more interested in health than those who download the app and only log a bit before getting tired of it"
3. Use the cell below to 
    1. load the dataset 
    2. make the dataset tidy or demonstrate that it was already tidy
    3. demonstrate the size of the dataset
    4. find out how much data is missing, where its missing, and if its missing at random or seems to have any systematic relationships in its missingness
    5. find and flag any outliers or suspicious entries
    6. clean the data or demonstrate that it was already clean.  You may choose how to deal with missingness (dropna of fillna... how='any' or 'all') and you should justify your choice in some way
    7. You will load raw data from `data/00-raw/`, you will (optionally) write intermediate stages of your work to `data/01-interim` and you will write the final fully wrangled version of your data to `data/02-processed`
4. Optionally you can also show some summary statistics for variables that you think are important to the project
5. Feel free to add more cells here if that's helpful for you

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
raw_TS2022 = pd.read_csv("data/00-raw/TS_datas/TS-2022.csv")

#tidy test
#print(raw_TS2022.columns)
print(f"Duplicated rows: {raw_TS2022.duplicated().sum()}")
raw_TS2022.head(5)

Duplicated rows: 0

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards,Player-additional
0,1.0,Mikal Bridges,25.0,PHO,SF,82.0,82.0,2854.0,14.4,0.627,...,5.2,3.7,8.9,0.150,0.5,1.1,1.6,2.6,DPOY-2DEF1,bridgmi01
1,2.0,Miles Bridges,23.0,CHO,PF,80.0,80.0,2837.0,17.9,0.593,...,5.0,2.3,7.2,0.123,1.8,-0.3,1.5,2.5,NaN,bridgmi02
2,3.0,DeMar DeRozan,32.0,CHI,PF,76.0,76.0,2743.0,23.1,0.590,...,7.0,1.8,8.8,0.154,3.4,-0.9,2.5,3.1,MVP-10ASNBA2,derozde01
3,4.0,Jayson Tatum,23.0,BOS,SF,76.0,76.0,2731.0,21.8,0.578,...,5.0,4.6,9.6,0.169,4.3,0.6,5.0,4.8,MVP-6ASNBA1,tatumja01
4,5.0,Saddiq Bey,22.0,DET,SF,82.0,82.0,2704.0,14.0,0.529,...,2.4,1.6,4.0,0.071,0.9,-1.2,-0.3,1.2,NaN,beysa01

#### Tidy: True  
- Columns: The columns of the dataset don't have any confusing variable names, and every column represents one variable. Although many of them are shortcuts of some words, the definition or meaning would be explained in the original dataset website.
- Rows: There are no duplicated rows. Each row is a observation, which contains player's name, age, and other stats.
- Rows: There may be multiple rows for a single player. This is because this player played for different teams, and each rows would only show the data respect to a specific team. Unless the the "Team" column shows a "2TM", "3TM", etc, this is the overall data of this player. It combines all the data of the player from different teams.

### C.size & D.missing value

In [5]:
print(f"size of this dataset:{raw_TS2022.shape}")

raw_TS2022_missing = raw_TS2022[raw_TS2022.isna().any(axis=1)]
raw_TS2022_missing_col = raw_TS2022.isna().any(axis=0)
a1,b1 = raw_TS2022_missing.shape
print(f"rows with missing data:{a1}")
raw_TS2022_missing.head()

size of this dataset:(813, 30)
rows with missing data:758

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards,Player-additional
1,2.0,Miles Bridges,23.0,CHO,PF,80.0,80.0,2837.0,17.9,0.593,...,5.0,2.3,7.2,0.123,1.8,-0.3,1.5,2.5,NaN,bridgmi02
4,5.0,Saddiq Bey,22.0,DET,SF,82.0,82.0,2704.0,14.0,0.529,...,2.4,1.6,4.0,0.071,0.9,-1.2,-0.3,1.2,NaN,beysa01
5,6.0,Tyrese Haliburton,21.0,2TM,PG,77.0,77.0,2695.0,18.2,0.595,...,5.2,1.8,7.0,0.125,2.7,-0.1,2.6,3.1,NaN,halibty01
6,6.0,Tyrese Haliburton,21.0,SAC,SG,51.0,51.0,1757.0,17.0,0.575,...,2.7,1.2,4.0,0.109,2.2,0.4,2.6,2.0,NaN,halibty01
7,6.0,Tyrese Haliburton,21.0,IND,PG,26.0,26.0,938.0,20.5,0.629,...,2.5,0.6,3.0,0.156,3.8,-1.0,2.8,1.1,NaN,halibty01

In [6]:
raw_TS2022_missing_col

Rk                    True
Player               False
Age                   True
Team                  True
Pos                   True
G                     True
GS                    True
MP                    True
PER                   True
TS%                   True
3PAr                  True
FTr                   True
ORB%                 False
DRB%                 False
TRB%                 False
AST%                 False
STL%                 False
BLK%                 False
TOV%                  True
USG%                 False
OWS                   True
DWS                   True
WS                    True
WS/48                 True
OBPM                  True
DBPM                  True
BPM                   True
VORP                  True
Awards                True
Player-additional    False
dtype: bool

There are missing values in multiple columns, this is reasonable because some players's data may be hard to find, or they have too few data. Most of the rows have missing values. This is because only a few players have awards, and the rest would have "NaN" in the Award column.

### E.Outlier

In [7]:
TS_cols = ['G', 'MP', 'TS%']
TS_Q1 = raw_TS2022[TS_cols].quantile(0.25)
TS_Q3 = raw_TS2022[TS_cols].quantile(0.75)
TS_range = TS_Q3 - TS_Q1
TS_outlier = (
    (raw_TS2022[TS_cols] < (TS_Q1 - 1.5*TS_range)) | (raw_TS2022[TS_cols] > (TS_Q3 + 1.5*TS_range))
).any(axis=0)
print(TS_outlier)
TS_outlier_row = raw_TS2022[ (raw_TS2022["TS%"] < TS_Q1["TS%"] - 1.5*TS_range["TS%"]) |
                                (raw_TS2022["TS%"] > TS_Q3["TS%"] + 1.5*TS_range["TS%"])]
TS_outlier_row

G      False
MP     False
TS%     True
dtype: bool

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards,Player-additional
146,125.0,Robert Williams,24.0,BOS,C,61.0,61.0,1804.0,22.1,0.745,...,6.0,3.9,9.9,0.262,2.4,3.1,5.5,3.4,DPOY-7DEF2,williro04
363,296.0,Tomáš Satoranský,30.0,SAS,SF,1.0,0.0,9.0,12.8,0.852,...,0.0,0.0,0.0,0.200,0.8,-2.1,-1.3,0.0,NaN,satorto01
424,329.0,Danuel House Jr.,28.0,NYK,SF,1.0,0.0,3.0,-13.4,0.000,...,0.0,0.0,0.0,-0.342,-12.6,-7.8,-20.4,0.0,NaN,houseda01
495,385.0,Kelan Martin,26.0,BOS,SF,3.0,0.0,6.0,-11.3,0.000,...,-0.1,0.0,0.0,-0.382,-14.7,-10.5,-25.1,0.0,NaN,martike03
498,387.0,Juancho Hernangómez,26.0,BOS,PF,18.0,0.0,96.0,3.8,0.307,...,-0.3,0.2,-0.1,-0.050,-6.9,-1.4,-8.3,-0.2,NaN,hernaju01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,595.0,Nate Hinton,22.0,IND,SG,2.0,0.0,2.0,-45.2,0.000,...,-0.1,0.0,-0.1,-1.231,-28.1,-14.5,-42.6,0.0,NaN,hintona01
802,596.0,David Johnson,20.0,TOR,SG,2.0,0.0,2.0,-20.0,0.000,...,0.0,0.0,0.0,-0.495,-19.0,-8.7,-27.7,0.0,NaN,johnsda08
805,599.0,Joe Johnson,40.0,BOS,SG,1.0,0.0,2.0,38.7,1.000,...,0.0,0.0,0.0,0.335,12.1,2.8,15.0,0.0,NaN,johnsjo02
807,601.0,Matt Mooney,25.0,NYK,SG,1.0,0.0,2.0,-20.0,0.000,...,-0.1,0.0,0.0,-0.915,-33.9,11.5,-22.3,0.0,NaN,moonema01
808,602.0,Ahmad Caver,25.0,IND,SG,1.0,0.0,1.0,76.2,1.000,...,0.0,0.0,0.0,1.204,31.0,5.9,36.9,0.0,NaN,caverah01

Columns G, MP don't have any outlier. However, column TS% has multiple outliers. From these outliers, we can see that some players have better performance than most of others, and some players have worse performance than most of others.

### F.Clean data

In [20]:
#filter out columns
TS_keep_columns = ['Player', 'Team','G', 'MP', 'TS%']
TS2022 = raw_TS2022[TS_keep_columns]

#drop missing value
TS2022 = TS2022.dropna()

#handle rows when a player plays for multiple teams
def handle_dup(df):
    df = (df.groupby('Player', as_index=False)
          .apply(lambda x: 
              x[x['Team'].astype(str).str.match(r'^\d+TM$')].iloc[0]
              if x['Team'].astype(str).str.match(r'^\d+TM$').any()
                 else x.iloc[0],
         include_groups=False))
    return df

TS2022 = handle_dup(TS2022)

#add a MPG column, which we need to analysis
TS2022['MPG'] = TS2022['MP'] / TS2022['G']

          Player Team     G      MP    TS%        MPG
0   Aaron Gordon  DEN  75.0  2376.0  0.602  31.680000
1    Aaron Henry  PHI   6.0    17.0  0.200   2.833333
2  Aaron Holiday  2TM  63.0  1021.0  0.544  16.206349
3  Aaron Nesmith  BOS  52.0   574.0  0.507  11.038462
4  Aaron Wiggins  OKC  50.0  1209.0  0.556  24.180000

In [21]:
# TS2022.to_csv("TS2022.csv", index=False)

### Dataset #2 

See instructions above for Dataset #1.  Feel free to keep adding as many more datasets as you need.  Put each new dataset in its own section just like these. 

Lastly if you do have multiple datasets, add another section where you demonstrate how you will join, align, cross-reference or whatever to combine data from the different datasets

Please note that you can always keep adding more datasets in the future if these datasets you turn in for the checkpoint aren't sufficient.  The goal here is demonstrate that you can obtain and wrangle data.  You are not tied down to only use what you turn in right now.

- NBA Players Play-by-Play Stats Data (from website)
  - Name: on-off-2022.csv
  - https://www.basketball-reference.com/leagues/NBA_2022_play-by-play.html
  - observations: 813
  - variables: 26
  - most relevant variables:
     - On-Off: This measures the team performance when the player is on the court versus off the court. It can be positive or negative. The larger this number is, the more positive impact a player can bring to the team, while the smaller number suggests the opposite.

In [9]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
raw_OF2022 = pd.read_csv("data/00-raw/OF_datas/on-off-2022.csv")

#tidy test
print(f"Duplicated rows: {raw_OF2022.duplicated().sum()}")
raw_OF2022.head(5)

Duplicated rows: 0

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Position Estimate,Position Estimate.1,...,Turnovers.1,Fouls Committed,Fouls Committed.1,Fouls Drawn,Fouls Drawn.1,Misc.,Misc..1,Misc..2,Unnamed: 24,-additional
0,Rk,Player,Age,Team,Pos,G,GS,MP,PG%,SG%,...,LostBall,Shoot,Off.,Shoot,Off.,PGA,And1,Blkd,Awards,-9999
1,1,Mikal Bridges,25,PHO,SF,82,82,2854,0,8,...,17,64,5,85,18,437,29,29,DPOY-2DEF1,bridgmi01
2,2,Miles Bridges,23,CHO,PF,80,80,2837,0,0,...,40,90,19,161,18,754,38,62,NaN,bridgmi02
3,3,DeMar DeRozan,32,CHI,PF,76,76,2743,0,0,...,61,89,18,287,12,948,74,84,MVP-10ASNBA2,derozde01
4,4,Jayson Tatum,23,BOS,SF,76,76,2731,0,1,...,71,66,32,186,10,833,41,81,MVP-6ASNBA1,tatumja01

#### Tidy: False  
Many of the columns are unnamed. The table is easy to read from the website, but converting to csv would require some works to make it tidy.

In [10]:
### C.size & D.missing value

In [11]:
print(f"size of this dataset:{raw_OF2022.shape}")

raw_OF2022_missing = raw_OF2022[raw_OF2022.isna().any(axis=1)]
raw_OF2022_missing_col = raw_OF2022.isna().any(axis=0)
a2,b2 = raw_OF2022_missing.shape
print(f"rows with missing data:{a2}")
raw_OF2022_missing.head()

size of this dataset:(813, 26)
rows with missing data:757

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Position Estimate,Position Estimate.1,...,Turnovers.1,Fouls Committed,Fouls Committed.1,Fouls Drawn,Fouls Drawn.1,Misc.,Misc..1,Misc..2,Unnamed: 24,-additional
2,2,Miles Bridges,23,CHO,PF,80,80,2837,0,0,...,40,90,19,161,18,754,38,62,NaN,bridgmi02
5,5,Saddiq Bey,22,DET,SF,82,82,2704,0,7,...,14,44,18,117,5,561,26,52,NaN,beysa01
6,6,Tyrese Haliburton,21,2TM,PG,77,77,2695,33,63,...,34,52,9,81,11,1479,18,36,NaN,halibty01
7,6,Tyrese Haliburton,21,SAC,SG,51,51,1757,18,78,...,17,29,6,43,4,882,13,26,NaN,halibty01
8,6,Tyrese Haliburton,21,IND,PG,26,26,938,62,35,...,17,23,3,38,7,597,5,10,NaN,halibty01

In [12]:
raw_OF2022_missing_col

Unnamed: 0             False
Unnamed: 1             False
Unnamed: 2             False
Unnamed: 3             False
Unnamed: 4             False
Unnamed: 5             False
Unnamed: 6             False
Unnamed: 7             False
Position Estimate      False
Position Estimate.1    False
Position Estimate.2    False
Position Estimate.3    False
Position Estimate.4    False
+/- Per 100 Poss       False
+/- Per 100 Poss.1     False
Turnovers              False
Turnovers.1            False
Fouls Committed        False
Fouls Committed.1      False
Fouls Drawn            False
Fouls Drawn.1          False
Misc.                  False
Misc..1                False
Misc..2                False
Unnamed: 24             True
-additional            False
dtype: bool

The only column that has missing data is Unnamed: 24. From the dataset, we can see that it is "Award" column. Same as TS, only a few players received awards, so most rows would have missing value in this column.

### E.Outlier

In [13]:
OF_cols = ['+/- Per 100 Poss.1'] #this is the On-Off data we need
#need to delete the first row
OF2022 = raw_OF2022.drop(index=0)
OF2022['+/- Per 100 Poss.1'] = pd.to_numeric(OF2022['+/- Per 100 Poss.1'], errors="coerce")

OF_Q1 = OF2022[OF_cols].quantile(0.25)
OF_Q3 = OF2022[OF_cols].quantile(0.75)
OF_range = OF_Q3 - OF_Q1
OF_outlier = (
    (OF2022[OF_cols] < (OF_Q1 - 1.5*OF_range)) | (OF2022[OF_cols] > (OF_Q3 + 1.5*OF_range))
).any(axis=0)
print(OF_outlier)
OF_outlier_row = OF2022[ (OF2022['+/- Per 100 Poss.1'] < OF_Q1['+/- Per 100 Poss.1'] - 
                          1.5*OF_range['+/- Per 100 Poss.1']) |
                                (OF2022['+/- Per 100 Poss.1'] > OF_Q3['+/- Per 100 Poss.1'] +
                                 1.5*OF_range['+/- Per 100 Poss.1'])]
OF_outlier_row['+/- Per 100 Poss.1']

+/- Per 100 Poss.1    True
dtype: bool

496    -72.4
499    -25.7
505    -38.0
531     98.7
551     32.0
       ...
806   -132.8
807   -132.8
808    -90.3
809    104.1
810   -252.2
Name: +/- Per 100 Poss.1, Length: 88, dtype: float64

These outliers represent the players who can greatly affect team performance. Very high value(positive) or very low value(negative) means they can bring a huge impact to the team when they are on the court.

### F.Clean data

In [14]:
#filter out the column
OF_keep_columns = ['Unnamed: 1','Unnamed: 3', '+/- Per 100 Poss.1']
# print(OF2022.columns.tolist())
OF2022 = OF2022[OF_keep_columns]

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Position Estimate', 'Position Estimate.1', 'Position Estimate.2', 'Position Estimate.3', 'Position Estimate.4', '+/- Per 100 Poss', '+/- Per 100 Poss.1', 'Turnovers', 'Turnovers.1', 'Fouls Committed', 'Fouls Committed.1', 'Fouls Drawn', 'Fouls Drawn.1', 'Misc.', 'Misc..1', 'Misc..2', 'Unnamed: 24', '-additional']

In [19]:
OF2022.columns = ['Player','Team', 'On-Off']

# # #drop missing value
OF2022 = OF2022.dropna()

# # #handle different teams
OF2022 = handle_dup(OF2022)

In [23]:
OF2022.head()
# OF2022.to_csv("OF2022.csv",index=False)

## Ethics

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Team Expectations

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Project Timeline Proposal

Instructions: Replace this with your timeline.  **PLEASE UPDATE your Timeline!** No battle plan survives contact with the enemy, so make sure we understand how your plans have changed.  Also if you have lost points on the previous checkpoint fix them