## Rubric

Instructions: DELETE this cell before you submit via a `git push` to your repo before deadline. This cell is for your reference only and is not needed in your report. 

Scoring: Out of 10 points

- Each Developing  => -2 pts
- Each Unsatisfactory/Missing => -4 pts
  - until the score is 

If students address the detailed feedback in a future checkpoint they will earn these points back


|                  | Unsatisfactory                                                                                                                                                                                                    | Developing                                                                                                                                                                                              | Proficient                                     | Excellent                                                                                                                              |
|------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| Data relevance   | Did not have data relevant to their question. Or the datasets don't work together because there is no way to line them up against each other. If there are multiple datasets, most of them have this trouble | Data was only tangentially relevant to the question or a bad proxy for the question. If there are multiple datasets, some of them may be irrelevant or can't be easily combined.                       | All data sources are relevant to the question. | Multiple data sources for each aspect of the project. It's clear how the data supports the needs of the project.                         |
| Data description | Dataset or its cleaning procedures are not described. If there are multiple datasets, most have this trouble                                                                                              | Data was not fully described. If there are multiple datasets, some of them are not fully described                                                                                                      | Data was fully described                       | The details of the data descriptions and perhaps some very basic EDA also make it clear how the data supports the needs of the project. |
| Data wrangling   | Did not obtain data. They did not clean/tidy the data they obtained.  If there are multiple datasets, most have this trouble                                                                                 | Data was partially cleaned or tidied. Perhaps you struggled to verify that the data was clean because they did not present it well. If there are multiple datasets, some have this trouble | The data is cleaned and tidied.                | The data is spotless and they used tools to visualize the data cleanliness and you were convinced at first glance                      |

# COGS 108 - Data Checkpoint

## Authors

- Jeremy Liu: Conceptualization, Methodology, Writing, Project administration, Writing – original draft, Software
- Paul Nguyen: Analysis, Software, Visualization, Methodology, Writing, Background Research, Writing – original draft, Experimental investigation
- Xijian Xiang: Analysis, Software, Writing, Methodology, Background Research, Data Curation, Writing – original draft, Experimental investigation
- Renheng Huang: Analysis, Software, Visualization, Writing – review & editing, Experimental investigation
- Jenny Zhang: Analysis, Software, Visualization, Writing – review & editing, Experimental investigation

## Research Question//we changed this

Does the relative wingspan (wingspan minus height) of an NBA player affect their overall performance? This project will focus on NBA seasons from 2018 to 2022. We select this five-season window because advanced metrics such as RAPTOR, LEBRON, DARKO, True Shooting and On-Off are consistently available during this period, and draft combine wingspan and current-season measurements can be matched to active NBA players. Restricting our analysis to 2018–2022 ensures metric consistency while maintaining a sufficiently large and recent sample. Our analysis will treat each player-season as one observation.

## Background and Prior Work // we changed this

Prior research has examined the relationship between body proportions and athletic performance. Monson et al. (2018) find that variations in limb proportions are associated with elite athletic success, suggesting that longer wingspans may confer biomechanical advantages. Similarly, Kaazempur-Mofrad (2022) argues that longer wingspans enhance defensive potential in basketball while potentially hindering shooting efficiency. These findings imply that wingspan may have heterogeneous effects across offensive and defensive dimensions of performance.

However, existing literature primarily focuses on biomechanical mechanisms or isolated performance indicators. There has been limited examination of how wingspan relates to modern composite advanced metrics that integrate offensive and defensive contributions into single numerical estimates.

Most of the advanced metrics used in this study, such as RAPTOR, LEBRON, and DARKO, are composite metrics that combine both offensive and defensive components into a single numerical value. These metrics incorporate box score statistics, on/off impact, and regression-based modeling to estimate a player’s overall contribution. Since wingspan is believed to influence defensive actions such as shot contesting, deflections, and rim protection, we expect it to primarily affect the defensive components of these metrics. In contrast, True Shooting Percentage (TS%) measures scoring efficiency and does not directly incorporate defensive performance.

By examining relative wingspan in relation to advanced metrics during the 2018–2022 NBA seasons, our study extends prior research by evaluating whether the defensive advantages suggested in the literature translate into measurable effects within contemporary performance models.

We could not find studies detailing tracking different advanced metrics such as LEBRON, DARKO and RAPTOR and using wingspan to track any correlations in performance. 

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Kaazempur-Mofrad, A. (28 Dec 2022) Basketball Players' Long Wingspan Enhances Defensive Upside but Hinders Shooting Capabilities. *SportXIV*. https://sportrxiv.org/index.php/server/preprint/view/238/463
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Monson, T. et al. (Jul 2018) Allometric Variation in Modern Humans and the Relationship Between Body Proportions and Elite Athletic Success. *Journal of Anthropology of Sport and Physical Education* https://jaspe.ucg.ac.me/clanci/JASPE_July_2018_Monson_3-8.pdf
Journal of Anthropology of Sport and Physical Education*. https://jaspe.ucg.ac.me/clanci/JASPE_July_2018_Monson_3-8.pdf
3. <a name="cite_note-2"></a> [^](#cite_ref-3) Author Unknown. (Date Unknown) LEBRON: The man, the myth, the metric? *bball-index.com* https://www.bball-index.com/lebron-introduction/
4. ^ Medvedovsky, K. (Date Unknown) DARKO: Daily Plus-Minus NBA Player Impact Metric. https://apanalytics.shinyapps.io/DARKO/
5. ^ Silver, N. (2019) How Our RAPTOR Metric Works. FiveThirtyEight. https://fivethirtyeight.com/features/how-our-raptor-metric-works/

## Hypothesis // we changed this
H1a: Relative wingspan is positively associated with defensive advanced metrics (e.g., Defensive RAPTOR, Defensive LEBRON, Defensive DARKO).

H1b: Relative wingspan is negatively associated with scoring efficiency and general offensive metrics (e.g., True Shooting Percentage, Offensive RAPTOR, Offensive LEBRON, Offensive DARKO).

H1c: Relative wingspan has a positive association with composite advanced metrics (e.g., overall RAPTOR, LEBRON, DARKO, On-Off), reflecting the net balance between defensive gains and potential offensive trade-offs.

H0: Relative wingspan has no statistically significant association with these performance metrics during the 2018–2022 NBA seasons.

We believe that there is evidence to suggest that wingspan may negatively affect offensive capabilities, but positively affect offensive capabilities, and that the net tips in favor of a positive correlation in performance overall, as evidenced by our sources.

## Data

### Data overview

Instructions: REPLACE the contents of this cell with descriptions of your actual datasets.

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
  - Description of the variables most relevant to this project
  - Descriptions of any shortcomings this dataset has with repsect to the project
- Dataset #2 (if you have more than one!)
  - same as above
- etc

Each dataset deserves either a set of bullet points as above or a few sentences if you prefer that method.

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

In [78]:
# Run this code every time when you're actively developing modules in .py files.  It's not needed if you aren't making modules
#
## this code is necessary for making sure that any modules we load are updated here 
## when their source code .py files are modified

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [79]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Dataset #1 

Instructions: 
1. Change the header from Dataset #1 to something more descriptive of the dataset
2. Write a few paragraphs about this dataset. Make sure to cover
   1. Describe the important metrics, what units they are in, and giv some sense of what they mean.  For example "Fasting blood glucose in units of mg glucose per deciliter of blood.  Normal values for healthy individuals range from 70 to 100 mg/dL.  Values 100-125 are prediabetic and values >125mg/dL indicate diabetes. Values <70 indicate hypoglycemia. Fasting idicates the patient hasn't eaten in the last 8 hours.  If blood glucose is >250 or <50 at any time (regardless of the time of last meal) the patient's life may be in immediate danger"
   2. If there are any major concerns with the dataset, describe them. For example "Dataset is composed of people who are serious enough about eating healthy that they voluntarily downloaded an app dedicated to tracking their eating patterns. This sample is likely biased because of that self-selection. These people own smartphones and may be healthier and may have more disposable income than the average person.  Those who voluntarily log conscientiously and for long amounts of time are also likely even more interested in health than those who download the app and only log a bit before getting tired of it"
3. Use the cell below to 
    1. load the dataset 
    2. make the dataset tidy or demonstrate that it was already tidy
    3. demonstrate the size of the dataset
    4. find out how much data is missing, where its missing, and if its missing at random or seems to have any systematic relationships in its missingness
    5. find and flag any outliers or suspicious entries
    6. clean the data or demonstrate that it was already clean.  You may choose how to deal with missingness (dropna of fillna... how='any' or 'all') and you should justify your choice in some way
    7. You will load raw data from `data/00-raw/`, you will (optionally) write intermediate stages of your work to `data/01-interim` and you will write the final fully wrangled version of your data to `data/02-processed`
4. Optionally you can also show some summary statistics for variables that you think are important to the project
5. Feel free to add more cells here if that's helpful for you

#### Note: All mentioned notebooks are in the Data directory.

### RAPTOR Metric

https://www.nbarapm.com/datasets/MetricHistory (Click the "raptor" tab) (extracted by F12 Inspect Element, switch from tab "elements" to tab "network", turn on "Preserve Log", reload page if prompted, check for raptor.json, go to responses tab, copy .json file)

Has RAPTOR metrics for thousands of players spanning multiple years. The most important metrics are raptor, raptor_offense, and raptor_defense, which is one of the advanced metrics we are interested in looking at. A raptor of 0 indicates a league-average player, a raptor-defense of 0 indicates league-average defensive capabilities, and a raptor-offense of 0 indicates league-average offensive capabilities. We have no major ethical concerns, and there were no NAN values. We used inspect element to find the .json file for RAPTOR and saved it to "data/00-raw/raptor_raw.json".

In [80]:
raptor=pd.read_json("data/00-raw/raptor_raw.json")
#check notebook read_json_datasets.ipynb in data/00-raw
#find cleaned raptor in data/01-interim
print(raptor.shape)
print(raptor.isna().sum())
raptor.head()

(12500, 13)
d_raptor_rank     0
mp                0
nba_id            0
o_raptor_rank     0
player_id         0
player_name       0
poss              0
raptor_defense    0
raptor_offense    0
raptor_rank       0
raptor_total      0
season            0
war_total         0
dtype: int64

,d_raptor_rank,mp,nba_id,o_raptor_rank,player_id,player_name,poss,raptor_defense,raptor_offense,raptor_rank,raptor_total,season,war_total
0,131,959,abdelal01,220,abdelal01,Alaa Abdelnaby,1998,-0.2,-2.6,210,-2.8,1992,-0.006893
1,256,1379,abdelal01,225,abdelal01,Alaa Abdelnaby,2754,-2.1,-2.4,251,-4.4,1993,-1.227189
2,4,3483,abdulka01,1,abdulka01,Kareem Abdul-Jabbar,7674,3.1,4.5,1,7.6,1977,18.488255
3,3,2399,abdulka01,6,abdulka01,Kareem Abdul-Jabbar,5343,3.4,3.4,1,6.9,1978,11.688727
4,8,3524,abdulka01,10,abdulka01,Kareem Abdul-Jabbar,7826,2.5,3.0,1,5.5,1979,14.739138

We then cleaned the raw using "Cleaning_lebron_darko_raptor.ipynb", keeping only the 3 mentioned metrics alongside the player name for identification. We filtered the data into the 5 years based on the "Season" column, and saved these into 5 csv files for 2018-2022, which can be found in "01-interim/raptor_cleaned". We also made sure to rename the "player_name" column to "Player", and converted the names to lowercase and replaced any special accents and characters with their more standard versions, for merging purposes.

In [101]:
raptor_2022=pd.read_csv("data/01-interim/raptor_cleaned/raptor_2022.csv") 
#You can change the two :2022"s into any year from 2018-2022 to get the year's data
#example of csv for single-season raptor from 2022
print(raptor_2022.shape)
raptor_2022.head()

(331, 4)

                  Player  raptor_total  raptor_defense  raptor_offense
0           nikola jokic          14.6             6.0             8.5
1  giannis antetokounmpo           8.1             2.5             5.6
2            joel embiid           7.8             4.2             3.6
3            rudy gobert           6.9             6.8             0.1
4          stephen curry           6.8             0.6             6.2

### LEBRON Metric

https://www.bball-index.com/lebron-application/ (Scroll down, click the "Player Data" tab, filter single season and download invidual csv for each year from 2018 to 2022 with the download button at bottom, 5 csv files total)

Has LEBRON metrics for hundreds of players. We downloaded 5 different lebron CSV files for each season from 2018 to 2022, with the websites built-in ability to select stats from different seasons and then download their csvs. The most important variables are LEBRON, O-LEBRON and D-LEBRON. A LEBRON of 0 represents an average player, and O-LEBRON and D-LEBRON scores of 0 represent league-average offensive and defensive capabilities, respectively. No major concerns regarding neatness or tidyness, as there were no NAN values in any of the raw csv files. All of the raw data was stored in "data/00-raw/lebron_raw"

In [102]:
lebron_2022=pd.read_csv("data/00-raw/lebron_raw/lebron_2022.csv")
#the rest of the raw LEBRON data is in the path above
print(lebron_2022.shape)
print(lebron_2022.isna().sum())
#We have tested .isna().sum() on every raw lebron csv file in Cleaning_lebron_raptor_darko.ipynb(). 
#There were no NAN entries in any of the raw lebron files. 
lebron_2022.head()

(423, 12)
nba_id      0
Player      0
Seasons     0
Team        0
Pos         0
MPG         0
LEBRON      0
O-LEBRON    0
D-LEBRON    0
WAR         0
OffRole     0
DefRole     0
dtype: int64

,nba_id,Player,Seasons,Team,Pos,MPG,LEBRON,O-LEBRON,D-LEBRON,WAR,OffRole,DefRole
0,2544,Lebron James,2022,LAL,C,37.220,3.342,3.612,-0.270,7.657,Shot Creator,Helper
1,2546,Carmelo Anthony,2022,LAL,PF,25.990,-2.231,-0.229,-2.003,0.193,Versatile Big,Helper
2,2730,Dwight Howard,2022,LAL,C,16.179,0.280,-0.791,1.071,1.673,Roll + Cut Big,Anchor Big
3,2738,Andre Iguodala,2022,GSW,SF,19.446,1.230,-0.246,1.475,1.408,Stationary Shooter,Helper
4,2772,Trevor Ariza,2022,LAL,SF,19.263,-1.446,-1.183,-0.263,0.281,Movement Shooter,Wing Stopper

We then cleaned the raw using "Cleaning_lebron_darko_raptor.ipynb", keeping only the 3 mentioned metrics alongside the player name for identification. We cleaned each raw csv, and saved these into 5 csv files for 2018-2022, which can be found in "01-interim/lebron_cleaned". We also converted the names to lowercase and replaced any special accents and characters with their more standard versions for merging purposes.

In [103]:
lebron_2022_cleaned=pd.read_csv("data/01-interim/lebron_cleaned/lebron_2022_cleaned.csv")
print(lebron_2022_cleaned.shape)
lebron_2022_cleaned.head() #the rest are in the specified file path above

(423, 4)

                  Player  LEBRON  D-LEBRON  O-LEBRON
0           nikola jokic   7.045     1.796     5.249
1  giannis antetokounmpo   6.627     2.058     4.569
2            joel embiid   5.301     1.065     4.236
3            rudy gobert   4.513     3.434     1.079
4          stephen curry   4.467     0.732     3.735

### DARKO Metric

https://www.nbarapm.com/datasets/MetricHistory (Click the "raptor" tab) (extracted by F12 Inspect Element, switch from tab "elements" to tab "network", turn on "Preserve Log", reload page if prompted, check for DARKO.json, go to responses tab, copy .json file)

Has DARKO for thousands of players. We separated the darko_raw.json into 5 different DARKO csv files for the 5 seasons. The most important files are darko, darko_defense and darko_offense. A DARKO of 0 represents the average player. We have no ethical concerns, and there are no NAN entries in this dataset. We used inspect element to locate the .json file for the DARKO metric. The raw data was stored in "data/00-raw/darko_raw.json"

In [112]:
darko=pd.read_json("data/00-raw/darko_raw.json")
#check notebook read_json_datasets.ipynb in data/00-raw
print(darko.shape)
print(darko.isna().sum())
darko.head()

(15024, 16)
age            0
box_ddpm       0
box_odpm       0
d_dpm          0
d_dpm_rank     0
dpm            0
dpm_rank       0
nba_id         0
o_dpm          0
o_dpm_rank     0
on_off_ddpm    0
on_off_odpm    0
player_name    0
season         0
team_name      0
tm_id          0
dtype: int64

,age,box_ddpm,box_odpm,d_dpm,d_dpm_rank,dpm,dpm_rank,nba_id,o_dpm,o_dpm_rank,on_off_ddpm,on_off_odpm,player_name,season,team_name,tm_id
0,36.1,-0.35,1.49,-0.60,299,0.46,71,2,1.06,50,-1.08,-0.34,Byron Scott,1997,Los Angeles Lakers,1610612747
1,31.1,-0.17,-0.89,-0.14,162,-0.99,179,3,-0.85,206,-0.06,-0.65,Grant Long,1997,Detroit Pistons,1610612765
2,38.0,-0.49,-2.36,-0.47,256,-2.90,406,7,-2.43,388,-0.33,-3.06,Dan Schayes,1997,Orlando Magic,1610612753
3,35.7,-0.54,-1.44,-0.53,275,-2.02,302,9,-1.49,284,-0.44,-1.95,Sedale Threatt,1997,Houston Rockets,1610612745
4,27.3,-0.52,-1.22,-0.52,273,-1.72,263,12,-1.19,242,-0.57,-0.95,Chris King,1997,Miami Heat,1610612748

We then cleaned the raw using "Cleaning_lebron_darko_raptor.ipynb", keeping only the 3 mentioned metrics alongside the player name for identification. We filtered the data into the 5 years based on the "Season" column, and saved these into 5 csv files for 2018-2022, which can be found in "01-interim/raptor_cleaned". We also made sure to rename the "player_name" column to "Player", and converted the names to lowercase and replaced any special accents and characters with their more standard versions for merging purposes.

In [113]:
darko_2022=pd.read_csv("data/01-interim/darko_cleaned/darko_2022.csv")
#example for raptor_2022, wrangled in other notebook
print(darko_2022.shape)
darko_2022.head()

(633, 4)

                  Player   dpm  d_dpm  o_dpm
0  giannis antetokounmpo  7.16   2.66   4.50
1            joel embiid  6.35   2.39   3.96
2           lebron james  5.54   0.55   4.99
3           nikola jokic  5.32   1.37   3.95
4           jayson tatum  5.24   0.65   4.59

### Wingspans and Length

##### All wingspan data was cleaned with v2 Wingspan Cleaner.ipynb in the data directory

https://chromewebstore.google.com/detail/instant-data-scraper/ofaokhiedipichpaobibbnahnkdoiiah (Google Chrome Extension Scraping Tool)

https://craftednba.com/player-traits/length (crafted_2026) (Scraped with the Chrome Extension Scraping Tool)

https://data.scorenetwork.org/basketball/nba_wingspans_and_performance.html (crafted_2025) (downloadable file)

https://www.kaggle.com/datasets/marcusfern/nba-draft-combine (wingspan_kaggle) (downloadable file)

https://www.nba.com/stats/draft/combine-anthro?SeasonYear=2002-03 (nbaorg wingspan measurements) (link is to 2002-03, took all years from 02-03 to 21-22, using scraping tool)

We have four datasets that are used to capture as many players in our 5-season timeframe as possible. Since official wingspans for this time period are not exactly aggregated on NBA.com, we look to find as many wingspans as possible and match them to the players in our datasets that wlll merge the data from the other 5 categories so that we can find a season summary. What is notable is the length/relative wingspan, which is the difference between the wingspan and height of the player. The average human's relative wingspan is about 0; in the NBA, there are many athletes who have major positive relative wingspans, and players with negative relative wingspans are a rarity. We are interested in finding the height and wingspan, which can be used to calculate the relative wingspan by subtracting height from wingspan. We used some chrome extensions to help scrape this data. The measurements are all in inches. 

Note that Crafted only keeps player measurements for the most recent NBA season. The Score Sports Data Repository credited crafted with providing the wingspan data, and this section was last updated in 2025; therefore, our dataset that was downloaded from SSDR was called crafter_2025. Also note that in the crafted_2025 dataset, relative wingspan is labeled "wingspan_advantage".

In the crafted_2026 dataset, there were no NAN values, but our scraping tool made things look un-tidy, but we were able to reference the original source when it came to renaming columns. In the crafted_2025 dataset, there were NAN values, but they were not in any of the relevant columns, so were able to drop the unneeded columns. In the kaggle set, there were very many NAN values, and in the nbaorg data, there were also many missing values, and our scraping also made the data look un-tidy, but we were able to rename the columns correctly. How we cleaned each one will be detailed below.

#### Raw Wingspan Data

In [115]:
crafted_2026=pd.read_csv("data/00-raw/Wingspan_Raw/wingspan_crafted_2026.csv")
crafted_2025=pd.read_csv("data/00-raw/Wingspan_Raw/wingspan_crafted_2025.csv")
wingspan_kaggle=pd.read_csv("data/00-raw/Wingspan_Raw/wingspan_Kaggle.csv")
two_three_frag=pd.read_csv("data/00-raw/Wingspan_Raw/wingspan_nbaorg/0203.csv")
#two_three_frag is an example fragment. We merged all of the fragments for every year into one big dataframe, and then we cleaned it.

In [116]:
print(crafted_2026.shape)
#columns are supposed to be [rank | name | team/position | height | wingspan | length (relative wingspan)]. You can check from the website link.
#we wrangled and corrected the column names. Can be found in 01-interim. 
print(crafted_2026.isna().sum())
crafted_2026.head()

(427, 6)
the-rank                       0
the-name                       0
block                          0
tablescraper-selected-row      0
tablescraper-selected-row 2    0
tablescraper-selected-row 3    0
dtype: int64

,the-rank,the-name,block,tablescraper-selected-row,tablescraper-selected-row 2,tablescraper-selected-row 3
0,1,Mo Bamba,TOR | C,"6'11.25""","7'10""",10.75
1,2,Jalen Williams,OKC | SG,"6'4.5""","7'2.25""",9.75
2,3,Isaiah Stewart,DET | C,"6'7.25""","7'4.75""",9.50
3,4,Robert Williams III,POR | C,"6'8""","7'5.5""",9.50
4,5,Cedric Coward,MEM | SG,"6'5.25""","7'2.25""",9.00

In [117]:
print(crafted_2025.shape)
print(crafted_2025.isna().sum())
crafted_2025.head() #we wrangled and corrected the column names. Can be found in 01-interim.

(419, 26)
name                   0
team                   0
position               0
height_inches          0
wingspan_inches        0
wingspan_advantage     0
g                      1
mp                     1
pts                    1
orb                    1
drb                    1
trb                    1
ast                    1
stl                    1
blk                    1
o_rtg                  1
d_rtg                  1
e_fg_percent           1
ft_percent             8
fg_percent             1
avg_dist_of_fg         1
2pt_rate               1
3pt_rate               1
2pt_percent            1
3pt_percent           13
dunk_rate              1
dtype: int64

,name,team,position,height_inches,wingspan_inches,wingspan_advantage,g,mp,pts,orb,...,d_rtg,e_fg_percent,ft_percent,fg_percent,avg_dist_of_fg,2pt_rate,3pt_rate,2pt_percent,3pt_percent,dunk_rate
0,AJ Johnson,WAS,SG,76.25,80.50,4.25,29.0,639.0,16.4,0.6,...,123.0,0.441,0.865,0.385,12.0,0.577,0.423,0.472,0.267,0.099
1,Aaron Gordon,DEN,PF,79.50,83.75,4.25,51.0,1447.0,24.9,2.7,...,120.0,0.607,0.810,0.531,11.8,0.654,0.346,0.582,0.436,0.141
2,Aaron Holiday,HOU,PG,71.75,79.50,7.75,62.0,792.0,20.9,0.8,...,114.0,0.571,0.829,0.437,20.8,0.325,0.675,0.517,0.398,0.000
3,Aaron Nesmith,IND,SF,77.00,82.00,5.00,45.0,1123.0,23.2,1.6,...,116.0,0.617,0.913,0.507,15.7,0.485,0.515,0.587,0.431,0.042
4,Aaron Wiggins,OKC,SG,76.50,81.75,5.25,76.0,1744.0,25.2,2.2,...,110.0,0.577,0.831,0.488,14.2,0.534,0.466,0.578,0.383,0.027

In [118]:
print(wingspan_kaggle.shape)
#Most important columns are "PLAYER", "WNGSPN" (wingspan), "HGT" (height)
print(wingspan_kaggle.isna().sum())
#Many of the columns with missing values were irrelevant to our study, so we ended up dropping these columns before dropping missing values from
#the most important columns. 
wingspan_kaggle.head()

(1678, 21)
YEAR           0
PLAYER         0
POS            1
HGT            4
WGT            5
BMI            5
BF           441
WNGSPN         3
STNDRCH        5
HANDL        733
HANDW        733
STNDVERT     189
LPVERT       189
LANE         198
SHUTTLE     1061
SPRINT       197
BENCH        604
BAR            4
PAN          733
PBHGT        190
PDHGT        190
dtype: int64

,YEAR,PLAYER,POS,HGT,WGT,BMI,BF,WNGSPN,STNDRCH,HANDL,...,STNDVERT,LPVERT,LANE,SHUTTLE,SPRINT,BENCH,BAR,PAN,PBHGT,PDHGT
0,2025,"Almansa, Izan",C,81.25,220.4,23.5,NaN,85.75,109.5,9.25,...,28.0,34.0,11.5,2.9,3.3,NaN,105.5%,87.9,137.5,143.5
1,2025,"Avdalas, Neoklis",SF,79.50,197.8,22.0,NaN,81.00,104.5,8.25,...,27.0,33.5,11.0,3.0,3.2,NaN,101.9%,80.9,131.5,138.0
2,2025,"Bailey, Ace",SF-PF,79.50,203.0,22.6,NaN,84.50,107.0,8.50,...,28.0,35.0,11.0,3.0,3.0,NaN,106.3%,76.5,135.0,142.0
3,2025,"Bates, Tamar",SG,75.75,191.0,23.4,NaN,82.25,103.0,9.75,...,28.0,34.0,11.0,3.0,3.0,NaN,108.6%,87.8,131.0,137.0
4,2025,"Brea, Koby",SG,77.75,202.0,23.5,NaN,77.25,101.5,8.50,...,28.0,34.0,11.0,3.0,3.0,NaN,99.4%,79.1,129.5,135.5

In [119]:
print(two_three_frag.shape)
#columns are supposed to be [Player | Position | Height | Standing Reach | Weight | Wingspan]. There are other columns the scraper omitted
#but they were unneeded
#Note that the data is inconsistent across different years. For example, more recent years have tracked body fat and hand-span, but they are not
#needed for any of our future analysis. 
two_three_frag.head() #we wrangled and corrected the column names. Can be found in 01-interim.

(82, 6)

,Crom_text__NpR1_,Crom_text__NpR1_ 2,tablescraper-selected-row 4,tablescraper-selected-row 5,tablescraper-selected-row 6,tablescraper-selected-row 7
0,Nene,PF,6' 9.25'',9' 1'',253.0,7' 4.5''
1,Robert Archibald,PF-C,6' 10'',9' 1.5'',250.0,6' 11.75''
2,Maurice Baker,PG,5' 11.75'',8' 0'',178.0,6' 4''
3,Matt Barnes,SF,6' 6.75'',8' 0.5'',226.0,6' 9''
4,Lubos Barton,SF-SG,6' 6.5'',8' 11'',221.0,7' 0''

#### Wingspan Cleaning
All of the Wingspan cleaning was performed in "v2 Wingspan Cleaner.ipynb"

For the crafted_2026 dataset, we started cleaning by dropping the irrelevant columns. We made sure to correctly convert the raw measurements, which included feet measurements, into total inches, rounding to 2 decimal points. We then dropped any entries with missing values. The columns we preserved were name, height_inches, wingpsan_inches and relative. We also converted the names to lowercase and replaced any special accents and characters with their more standard versions for merging purposes. Note that in the final result, there are no NAN values.

In [125]:
crafted_2026_cleaned=pd.read_csv("data/01-interim/wingspan_cleaned/wingspan_crafted_2026_cleaned.csv")
print(crafted_2026_cleaned.shape)
crafted_2026_cleaned.head()

(427, 4)

                  name  height_inches  wingspan_inches  relative
0             mo bamba          83.25            94.00     10.75
1       jalen williams          76.50            86.25      9.75
2       isaiah stewart          79.25            88.75      9.50
3  robert williams iii          80.00            89.50      9.50
4        cedric coward          77.25            86.25      9.00

For the crafted_2025 dataset, we started cleaning by dropping the irrelevant columns. We made sure to correctly convert the raw measurements, which included feet measurements, into total inches, rounding to 2 decimal points. We then dropped any entries with missing values. The  The columns we preserved were name, height_inches, wingpsan_inches and relative (converted from "wingspan_advantage"). We also converted the names to lowercase and replaced any special accents and characters with their more standard versions for merging purposes. Note that in the final result, there are no NAN values.

In [126]:
crafted_2025_cleaned=pd.read_csv("data/01-interim/wingspan_cleaned/wingspan_crafted_2025_cleaned.csv")
print(crafted_2025_cleaned.shape)
print(crafted_2025_cleaned.isna().sum())
crafted_2025_cleaned.head()

(419, 4)
name               0
height_inches      0
wingspan_inches    0
relative           0
dtype: int64

            name  height_inches  wingspan_inches  relative
0     aj johnson          76.25            80.50      4.25
1   aaron gordon          79.50            83.75      4.25
2  aaron holiday          71.75            79.50      7.75
3  aaron nesmith          77.00            82.00      5.00
4  aaron wiggins          76.50            81.75      5.25

For the Kaggle dataset, we started cleaning by dropping the irrelevant columns. The raw measurements were already converted to full inches, and so we created a new column for the relative wingspan, that was the result of subtracting the height from the wingspan. We then dropped any entries with missing values. The columns we preserved were name, height_inches, wingpsan_inches and relative. We also converted the names to lowercase and replaced any special accents and characters with their more standard versions for merging purposes. Note that in the final result, there are no NAN values.

In [129]:
Kaggle_cleaned=pd.read_csv("data/01-interim/wingspan_cleaned/wingspan_Kaggle_cleaned.csv")
print(Kaggle_cleaned.shape)
print(Kaggle_cleaned.isna().sum())
Kaggle_cleaned.head()

(1674, 4)
name               0
height_inches      0
wingspan_inches    0
relative           0
dtype: int64

              name  height_inches  wingspan_inches  relative
0     izan almansa          81.25            85.75       4.5
1  neoklis avdalas          79.50            81.00       1.5
2       ace bailey          79.50            84.50       5.0
3      tamar bates          75.75            82.25       6.5
4        koby brea          77.75            77.25      -0.5

For the nbaorg dataset, we started cleaning by concatenating all of the single-year dataframes into one big dataframe. We then dropped the irrelevant columns. The raw measurements were converted to full inches, and so we then created a new column for the relative wingspan, that was the result of subtracting the height from the wingspan. We then dropped any entries with missing values. The columns we preserved were name, height_inches, wingpsan_inches and relative. We also converted the names to lowercase and replaced any special accents and characters with their more standard versions for merging purposes. Note that in the final result, there are no NAN values.

In [133]:
nbaorg_cleaned=pd.read_csv("data/01-interim/wingspan_cleaned/wingspan_nbaorg_combined.csv")
print(nbaorg_cleaned.shape)
print(nbaorg_cleaned.isna().sum())
nbaorg_cleaned.head()

(1149, 4)
name               0
height_inches      0
wingspan_inches    0
relative           0
dtype: int64

                name  height_inches  wingspan_inches  relative
0      kenny adeleke          78.50            82.25      3.75
1       maurice ager          75.25            79.75      4.50
2  lamarcus aldridge          82.00            88.75      6.75
3      morris almond          76.75            82.00      5.25
4       lou amundson          79.20            83.50      4.30

Finally, we concatenated all of the cleaned datasets into one big dataset. Since all of the columns names and measurement types were all standardized, this concatenation was able to keep all of our data, and the process was extremely clean. There were bound to be duplicates, as there was definitely player turnover from 2025 to 2026, which was measured in the two crafted datasets, so we concatenated based on reliability; we deemed the two crafted datasets to be more reliable, then the official draft anthro measurements from NBA.com, and then the measurements from Kaggle. Finally, we dropped duplicates, to get our final wingspan dataset.

In [137]:
merged_wingspan_data=pd.read_csv("data/01-interim/wingspan_cleaned/combined_cleaned.csv")
print(merged_wingspan_data.shape)
#As you can see, there are way more entries than from each individual dataset, but not a clean sum, as there were some duplicates. 
merged_wingspan_data.head()

(1911, 4)

                name  height_inches  wingspan_inches  relative
0      kenny adeleke          78.50            82.25      3.75
1       maurice ager          75.25            79.75      4.50
2  lamarcus aldridge          82.00            88.75      6.75
3      morris almond          76.75            82.00      5.25
4       lou amundson          79.20            83.50      4.30

### True Shooting
  - Name: TS-2022.csv
  - https://www.basketball-reference.com/leagues/NBA_2022_advanced.html
  - observations: 813
  - variables: 30
  - most relevant variables:
     - G: Games. This is the amount of games a player has played in this season. A high number means that this player has played many matches in this season. For example, G=80 means this player has played 80 matches during the season.
     - MP: Minutes Played. This measures how much a player has played in the season in minutes. A high number means that this player has played many matches in this season. For example, MP=300 means this player has played for 300 minutes in this season.
     - TS%: True Shooting Percentage. This measures the shooting efficiency in 2-points field goal, 3-points field goal, and free throws. This percentage equals to "points scored" divided by "shooting attempts", where the "shooting attempts" is calculated with special formula. For example, when TS%=50, it means this player has made higher score compared to other players who made the same amount of shooting attempts with TS%=30.
  - Shortcoming: TS% would be less accurate when the player played too few games. For example, when a play has made a successful 2-point field goal, but that is the only shooting attempt from this player in the season, the TS% of this player would be very high. However, this can't be used to measure the performance of this player. Therefore, we will drop the players who played too few in the season. The threshold would be decided.

In [46]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
raw_TS2022 = pd.read_csv("data/00-raw/TS_datas/TS-2022.csv")

#tidy test
#print(raw_TS2022.columns)
print(f"Duplicated rows: {raw_TS2022.duplicated().sum()}")
raw_TS2022.head(5)

Duplicated rows: 0

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards,Player-additional
0,1.0,Mikal Bridges,25.0,PHO,SF,82.0,82.0,2854.0,14.4,0.627,...,5.2,3.7,8.9,0.150,0.5,1.1,1.6,2.6,DPOY-2DEF1,bridgmi01
1,2.0,Miles Bridges,23.0,CHO,PF,80.0,80.0,2837.0,17.9,0.593,...,5.0,2.3,7.2,0.123,1.8,-0.3,1.5,2.5,NaN,bridgmi02
2,3.0,DeMar DeRozan,32.0,CHI,PF,76.0,76.0,2743.0,23.1,0.590,...,7.0,1.8,8.8,0.154,3.4,-0.9,2.5,3.1,MVP-10ASNBA2,derozde01
3,4.0,Jayson Tatum,23.0,BOS,SF,76.0,76.0,2731.0,21.8,0.578,...,5.0,4.6,9.6,0.169,4.3,0.6,5.0,4.8,MVP-6ASNBA1,tatumja01
4,5.0,Saddiq Bey,22.0,DET,SF,82.0,82.0,2704.0,14.0,0.529,...,2.4,1.6,4.0,0.071,0.9,-1.2,-0.3,1.2,NaN,beysa01

#### Tidy: True  
- Columns: The columns of the dataset don't have any confusing variable names, and every column represents one variable. Although many of them are shortcuts of some words, the definition or meaning would be explained in the original dataset website.
- Rows: There are no duplicated rows. Each row is a observation, which contains player's name, age, and other stats.
- Rows: There may be multiple rows for a single player. This is because this player played for different teams, and each rows would only show the data respect to a specific team. Unless the the "Team" column shows a "2TM", "3TM", etc, this is the overall data of this player. It combines all the data of the player from different teams.

### C.size & D.missing value

In [47]:
print(f"size of this dataset:{raw_TS2022.shape}")

raw_TS2022_missing = raw_TS2022[raw_TS2022.isna().any(axis=1)]
raw_TS2022_missing_col = raw_TS2022.isna().any(axis=0)
a1,b1 = raw_TS2022_missing.shape
print(f"rows with missing data:{a1}")
raw_TS2022_missing.head()

size of this dataset:(813, 30)
rows with missing data:758

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards,Player-additional
1,2.0,Miles Bridges,23.0,CHO,PF,80.0,80.0,2837.0,17.9,0.593,...,5.0,2.3,7.2,0.123,1.8,-0.3,1.5,2.5,NaN,bridgmi02
4,5.0,Saddiq Bey,22.0,DET,SF,82.0,82.0,2704.0,14.0,0.529,...,2.4,1.6,4.0,0.071,0.9,-1.2,-0.3,1.2,NaN,beysa01
5,6.0,Tyrese Haliburton,21.0,2TM,PG,77.0,77.0,2695.0,18.2,0.595,...,5.2,1.8,7.0,0.125,2.7,-0.1,2.6,3.1,NaN,halibty01
6,6.0,Tyrese Haliburton,21.0,SAC,SG,51.0,51.0,1757.0,17.0,0.575,...,2.7,1.2,4.0,0.109,2.2,0.4,2.6,2.0,NaN,halibty01
7,6.0,Tyrese Haliburton,21.0,IND,PG,26.0,26.0,938.0,20.5,0.629,...,2.5,0.6,3.0,0.156,3.8,-1.0,2.8,1.1,NaN,halibty01

In [48]:
raw_TS2022_missing_col

Rk                    True
Player               False
Age                   True
Team                  True
Pos                   True
G                     True
GS                    True
MP                    True
PER                   True
TS%                   True
3PAr                  True
FTr                   True
ORB%                 False
DRB%                 False
TRB%                 False
AST%                 False
STL%                 False
BLK%                 False
TOV%                  True
USG%                 False
OWS                   True
DWS                   True
WS                    True
WS/48                 True
OBPM                  True
DBPM                  True
BPM                   True
VORP                  True
Awards                True
Player-additional    False
dtype: bool

There are missing values in multiple columns, this is reasonable because some players's data may be hard to find, or they have too few data. Most of the rows have missing values. This is because only a few players have awards, and the rest would have "NaN" in the Award column.

### E.Outlier

In [49]:
TS_cols = ['G', 'MP', 'TS%']
TS_Q1 = raw_TS2022[TS_cols].quantile(0.25)
TS_Q3 = raw_TS2022[TS_cols].quantile(0.75)
TS_range = TS_Q3 - TS_Q1
TS_outlier = (
    (raw_TS2022[TS_cols] < (TS_Q1 - 1.5*TS_range)) | (raw_TS2022[TS_cols] > (TS_Q3 + 1.5*TS_range))
).any(axis=0)
print(TS_outlier)
TS_outlier_row = raw_TS2022[ (raw_TS2022["TS%"] < TS_Q1["TS%"] - 1.5*TS_range["TS%"]) |
                                (raw_TS2022["TS%"] > TS_Q3["TS%"] + 1.5*TS_range["TS%"])]
TS_outlier_row

G      False
MP     False
TS%     True
dtype: bool

,Rk,Player,Age,Team,Pos,G,GS,MP,PER,TS%,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Awards,Player-additional
146,125.0,Robert Williams,24.0,BOS,C,61.0,61.0,1804.0,22.1,0.745,...,6.0,3.9,9.9,0.262,2.4,3.1,5.5,3.4,DPOY-7DEF2,williro04
363,296.0,Tomáš Satoranský,30.0,SAS,SF,1.0,0.0,9.0,12.8,0.852,...,0.0,0.0,0.0,0.200,0.8,-2.1,-1.3,0.0,NaN,satorto01
424,329.0,Danuel House Jr.,28.0,NYK,SF,1.0,0.0,3.0,-13.4,0.000,...,0.0,0.0,0.0,-0.342,-12.6,-7.8,-20.4,0.0,NaN,houseda01
495,385.0,Kelan Martin,26.0,BOS,SF,3.0,0.0,6.0,-11.3,0.000,...,-0.1,0.0,0.0,-0.382,-14.7,-10.5,-25.1,0.0,NaN,martike03
498,387.0,Juancho Hernangómez,26.0,BOS,PF,18.0,0.0,96.0,3.8,0.307,...,-0.3,0.2,-0.1,-0.050,-6.9,-1.4,-8.3,-0.2,NaN,hernaju01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,595.0,Nate Hinton,22.0,IND,SG,2.0,0.0,2.0,-45.2,0.000,...,-0.1,0.0,-0.1,-1.231,-28.1,-14.5,-42.6,0.0,NaN,hintona01
802,596.0,David Johnson,20.0,TOR,SG,2.0,0.0,2.0,-20.0,0.000,...,0.0,0.0,0.0,-0.495,-19.0,-8.7,-27.7,0.0,NaN,johnsda08
805,599.0,Joe Johnson,40.0,BOS,SG,1.0,0.0,2.0,38.7,1.000,...,0.0,0.0,0.0,0.335,12.1,2.8,15.0,0.0,NaN,johnsjo02
807,601.0,Matt Mooney,25.0,NYK,SG,1.0,0.0,2.0,-20.0,0.000,...,-0.1,0.0,0.0,-0.915,-33.9,11.5,-22.3,0.0,NaN,moonema01
808,602.0,Ahmad Caver,25.0,IND,SG,1.0,0.0,1.0,76.2,1.000,...,0.0,0.0,0.0,1.204,31.0,5.9,36.9,0.0,NaN,caverah01

Columns G, MP don't have any outlier. However, column TS% has multiple outliers. From these outliers, we can see that some players have better performance than most of others, and some players have worse performance than most of others.

### F.Clean data

In [ ]:
#filter out columns
TS_keep_columns = ['Player', 'Team','G', 'MP', 'TS%']
TS2022 = raw_TS2022[TS_keep_columns]

#drop missing value
TS2022 = TS2022.dropna()

#handle rows when a player plays for multiple teams
def handle_dup(df):
    df = (df.groupby('Player', as_index=False)
          .apply(lambda x: 
              x[x['Team'].astype(str).str.match(r'^\d+TM$')].iloc[0]
              if x['Team'].astype(str).str.match(r'^\d+TM$').any()
                 else x.iloc[0],
         include_groups=False))
    return df

TS2022 = handle_dup(TS2022)

#add a MPG column, which we need to analysis
TS2022['MPG'] = TS2022['MP'] / TS2022['G']

In [ ]:
# TS2022.to_csv("TS2022.csv", index=False)

In [ ]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE

### On-Off (from website)
  - Name: on-off-2022.csv
  - https://www.basketball-reference.com/leagues/NBA_2022_play-by-play.html
  - observations: 813
  - variables: 26
  - most relevant variables:
     - On-Off: This measures the team performance when the player is on the court versus off the court. It can be positive or negative. The larger this number is, the more positive impact a player can bring to the team, while the smaller number suggests the opposite.

In [ ]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
raw_OF2022 = pd.read_csv("data/00-raw/OF_datas/on-off-2022.csv")

#tidy test
print(f"Duplicated rows: {raw_OF2022.duplicated().sum()}")
raw_OF2022.head(5)

#### Tidy: False  
Many of the columns are unnamed. The table is easy to read from the website, but converting to csv would require some works to make it tidy.

### C.size & D.missing value

In [ ]:
print(f"size of this dataset:{raw_OF2022.shape}")

raw_OF2022_missing = raw_OF2022[raw_OF2022.isna().any(axis=1)]
raw_OF2022_missing_col = raw_OF2022.isna().any(axis=0)
a2,b2 = raw_OF2022_missing.shape
print(f"rows with missing data:{a2}")
raw_OF2022_missing.head()

In [ ]:
raw_OF2022_missing_col

The only column that has missing data is Unnamed: 24. From the dataset, we can see that it is "Award" column. Same as TS, only a few players received awards, so most rows would have missing value in this column.

### E.Outlier

In [ ]:
OF_cols = ['+/- Per 100 Poss.1'] #this is the On-Off data we need
#need to delete the first row
OF2022 = raw_OF2022.drop(index=0)
OF2022['+/- Per 100 Poss.1'] = pd.to_numeric(OF2022['+/- Per 100 Poss.1'], errors="coerce")

OF_Q1 = OF2022[OF_cols].quantile(0.25)
OF_Q3 = OF2022[OF_cols].quantile(0.75)
OF_range = OF_Q3 - OF_Q1
OF_outlier = (
    (OF2022[OF_cols] < (OF_Q1 - 1.5*OF_range)) | (OF2022[OF_cols] > (OF_Q3 + 1.5*OF_range))
).any(axis=0)
print(OF_outlier)
OF_outlier_row = OF2022[ (OF2022['+/- Per 100 Poss.1'] < OF_Q1['+/- Per 100 Poss.1'] - 
                          1.5*OF_range['+/- Per 100 Poss.1']) |
                                (OF2022['+/- Per 100 Poss.1'] > OF_Q3['+/- Per 100 Poss.1'] +
                                 1.5*OF_range['+/- Per 100 Poss.1'])]
OF_outlier_row['+/- Per 100 Poss.1']

These outliers represent the players who can greatly affect team performance. Very high value(positive) or very low value(negative) means they can bring a huge impact to the team when they are on the court.

### F.Clean data

In [ ]:
#filter out the column
OF_keep_columns = ['Unnamed: 1','Unnamed: 3', '+/- Per 100 Poss.1']
# print(OF2022.columns.tolist())
OF2022 = OF2022[OF_keep_columns]

In [ ]:
OF2022.columns = ['Player','Team', 'On-Off']

# # #drop missing value
OF2022 = OF2022.dropna()

# # #handle different teams
OF2022 = handle_dup(OF2022)

In [ ]:
OF2022.head()
# OF2022.to_csv("OF2022.csv",index=False)

### Complete Data Source

We have a complete data source where we merged our different data from each of the 5 seasons, which were in turn created by merging all of the relevant statistics for each year by player. It has the players, total number of games played in the season, total minutes, the LEBRON variations, DARKO variations, RAPTOR variations, TS and On-Off, as well as height, wingspan and relative wingspan. This final csv table was created in "Final_Data_Generator.ipynb". First, we loaded all of the cleaned datasets for every metric. We then merged each dataset based on the season, using on="Player", and each season was the result of merging 5 different datasets, specifically the LEBRON, RAPTOR, DARKO, TS and On-Off. We then added a Season column that was just the season, for each final year dataset. We then concatenated the 2018-2022 final datasets into one big dataset. We then merged the wingspan dataset after renaming the "name" column in the final wingspan dataset to "Player", and merged on "Player". Our rationale was that we were going to treat every season's result for one player as one data entry. For example, we chose to view LeBron's 2018 and 2019 seasons as different data entries despite being produced from the same person. Furthermore, a player's wingspan, height and relative wingspan are not subject to change year over year, so we decided to merge the wingspans after merging the aggregate data from the different seasons. Our final result definitely does not have as many values as total players, because not every player has had all of their LEBRON, DARKO, RAPTOR, TS and On-Off tracked. Lastly, there may be inconsistencies between names, for example, jimmy butler and jimmy butler iii are both used to represent the same individual, and we were not able to find a way to smooth out these inconsistencies. Merging upon 6 variables was bound to lead to disappearing entries. As a result, there are only about 1223 viable data entries in the final dataset.

In [138]:
final_result=pd.read_csv("data/02-processed/final_data.csv")
final_result

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season,height_inches,wingspan_inches,relative
0,mikal bridges,82,2854,9.5,0.627,1.376,1.181,0.195,1.21,0.22,0.99,2.7,0.9,1.8,2022,77.75,85.00,7.25
1,miles bridges,80,2837,5.8,0.593,0.797,-0.597,1.393,1.13,-0.28,1.40,1.7,-0.0,1.7,2022,77.25,81.50,4.25
2,demar derozan,76,2743,5.1,0.590,1.265,-1.530,2.794,0.40,-1.23,1.63,1.4,-2.3,3.6,2022,77.50,81.00,3.50
3,jayson tatum,76,2731,13.8,0.578,4.327,0.993,3.334,5.24,0.65,4.59,5.6,1.6,4.0,2022,79.50,83.00,3.50
4,saddiq bey,82,2704,-4.7,0.529,-2.045,-2.011,-0.034,-1.67,-1.25,-0.42,-2.3,-2.4,0.1,2022,79.00,83.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218,shane larkin,54,775,-2.6,0.491,-1.276,-0.008,-1.268,-1.30,0.25,-1.55,-0.1,1.6,-1.7,2018,70.25,70.75,0.50
1219,terrance ferguson,61,763,-12.7,0.545,-3.014,-1.176,-1.837,-1.29,-0.07,-1.22,-4.5,-2.6,-1.9,2018,77.50,80.75,3.25
1220,nene,52,758,9.6,0.594,0.519,1.249,-0.730,1.90,2.99,-1.09,2.9,4.4,-1.5,2018,81.25,88.50,7.25
1221,richaun holmes,48,746,-7.0,0.585,-0.227,0.006,-0.233,-0.05,0.51,-0.56,-2.0,-0.1,-1.8,2018,80.25,85.50,5.25
1222,quinn cook,33,740,-11.2,0.593,-2.705,-1.637,-1.067,-1.44,-1.78,0.33,-4.0,-3.8,-0.2,2018,72.25,76.00,3.75

## Ethics // We changed this

### A. Data Collection
 - [X] **A.1 Informed consent**: If there are human subjects, have they given informed consent, where subjects affirmatively opt-in and have a clear understanding of the data uses to which they consent?


       Yes, they are given informed consent considering that the data is publicly available from an officiated institution. The measurement of select variables such as match performance, height, and wingspan are also a typical practice, and are performed with the players' consent. As these types of characteristics are a core part of the industry, these players would be fully aware of and entirely comprehend the types of data that are being collected in addition to the ways in which they will be used. 


 - [X] **A.2 Collection bias**: Have we considered sources of bias that could be introduced during data collection and survey design and taken steps to mitigate those?


       Yes, we plan to avoid the possibility of bias by using publicly available data that is grouped on a basis that does not result in any involuntary distinction. Our data will be from sports databases in which all participants, regardless of personal circumstance, are measured. As a result, we are able to retrieve the necessary metrics to perform data analysis on in an unbiased manner.

       
 - [X] **A.3 Limit PII exposure**: Have we considered ways to minimize exposure of personally identifiable information (PII) for example through anonymization or not collecting information that isn't relevant for analysis?

        Yes, our analysis relies solely on publicly available professional statistics. We do not collect sensitive personal information beyond physical measurements and performance metrics. Therefore, the risk of exposing private identifiable information is minimal.

 - [X] **A.4 Downstream bias mitigation**: Have we considered ways to enable testing downstream results for biased outcomes (e.g., collecting data on protected group status like race or gender)?

        Yes, linking physical traits to performance may risk reinforcing deterministic interpretations of athletic ability. We emphasize that our results describe statistical associations rather than causal relationships. Additionally, advanced metrics such as RAPTOR and LEBRON rely on modeling assumptions that may embed their own biases.



### B. Data Storage
 - [X] **B.1 Data security**: Do we have a plan to protect and secure data (e.g., encryption at rest and in transit, access controls on internal users and third parties, access logs, and up-to-date software)?


       Yes. The data used in this project are publicly available and stored securely on password-protected devices and university-approved platforms. Since we do not collect sensitive personal information, the risk of data breaches is minimal.
       
 - [X] **B.2 Right to be forgotten**: Do we have a mechanism through which an individual can request their personal information be removed?

       Yes. The project relies solely on publicly available professional statistics. Since we do not collect or store private personal information, individuals may request removal through the original data providers rather than through our research.

 - [X] **B.3 Data retention plan**: Is there a schedule or plan to delete the data after it is no longer needed?

       Yes. All data used in this project will be retained only for the duration of the course and deleted after project completion. Because the dataset consists of publicly available professional statistics, no long-term retention of private information is required.


### C. Analysis
 - [X] **C.1 Missing perspectives**: Have we sought to address blindspots in the analysis through engagement with relevant stakeholders (e.g., checking assumptions and discussing implications with affected communities and subject matter experts)?

       Yes. We acknowledge that our analysis focuses primarily on measurable physical traits and advanced metrics, which may not fully capture intangible aspects of basketball performance such as leadership or team dynamics. We therefore interpret our findings within the limits of quantitative data and avoid overgeneralizing beyond statistical measures.
       
 - [X] **C.2 Dataset bias**: Have we examined the data for possible sources of bias and taken steps to mitigate or address these biases (e.g., stereotype perpetuation, confirmation bias, imbalanced classes, or omitted confounding variables)?

       Yes. We recognize that wingspan data is limited to players who participated in the NBA Draft Combine, which may introduce selection bias. Additionally, omitted variables such as playing style, coaching systems, or team context may confound the relationship between physical traits and performance.

 - [X] **C.3 Honest representation**: Are our visualizations, summary statistics, and reports designed to honestly represent the underlying data?

       Yes. We will present regression results, summary statistics, and visualizations without selectively reporting significant findings. Effect sizes, limitations, and uncertainty measures (e.g., standard errors) will be clearly displayed to avoid overstating conclusions.

 - [X] **C.4 Privacy in analysis**: Have we ensured that data with PII are not used or displayed unless necessary for the analysis?

       Yes. Our analysis relies solely on publicly available professional statistics and does not involve sensitive personal information. No private identifiable data will be displayed or analyzed.

       
 - [X] **C.5 Auditability**: Is the process of generating the analysis well documented and reproducible if we discover issues in the future?

       Yes. All data processing and analysis steps will be documented and reproducible through code. We will clearly document variable definitions, cleaning procedures, and model specifications to ensure transparency and future review.

       
### D. Modeling
 - [X] **D.1 Proxy discrimination**: Have we ensured that the model does not rely on variables or proxies for variables that are unfairly discriminatory?

       Yes. Our model relies on physical measurements and performance statistics that are directly related to basketball evaluation. We do not include sensitive demographic variables such as race or socioeconomic status, and we avoid using variables that may serve as proxies for protected characteristics.
       
 - [X] **D.2 Fairness across groups**: Have we tested model results for fairness with respect to different affected groups (e.g., tested for disparate error rates)?

       Yes. Although our study does not focus on demographic group comparisons, we recognize that physical traits may correlate with positional differences. We interpret results cautiously and do not claim fairness implications across demographic groups.

       
 - [X] **D.3 Metric selection**: Have we considered the effects of optimizing for our defined metrics and considered additional metrics?

       Yes. We consider multiple advanced metrics, including composite measures (RAPTOR, LEBRON, DARKO) and efficiency metrics (TS%), to avoid relying on a single definition of performance. This allows us to assess whether the relationship with wingspan is consistent across different measurement frameworks.

       
 - [X] **D.4 Explainability**: Can we explain in understandable terms a decision the model made in cases where a justification is needed?

       Yes. We use linear regression models, which allow clear interpretation of coefficients and effect sizes. This enables us to explain how changes in relative wingspan are associated with changes in performance metrics in understandable terms.

       
 - [X] **D.5 Communicate limitations**: Have we communicated the shortcomings, limitations, and biases of the model to relevant stakeholders in ways that can be generally understood?

       Yes. We will clearly communicate model limitations, including selection bias, omitted variables, and the non-causal nature of our analysis. This ensures stakeholders understand the scope and boundaries of our findings.

### E. Deployment
 - [X] **E.1 Monitoring and evaluation**: Do we have a clear plan to monitor the model and its impacts after it is deployed (e.g., performance monitoring, regular audit of sample predictions, human review of high-stakes decisions, reviewing downstream impacts of errors or low-confidence decisions, testing for concept drift)?

       Yes. Although this project is conducted for academic purposes and not deployed in production, we will evaluate model robustness through diagnostic checks and sensitivity analysis. Any unexpected results will prompt re-examination of data processing and model specification.
       
 - [X] **E.2 Redress**: Have we discussed with our organization a plan for response if users are harmed by the results (e.g., how does the data science team evaluate these cases and update analysis and models to prevent future harm)?

       Yes. Since this model is used only for academic analysis, it does not directly affect individuals. However, if concerns arise regarding interpretation or misuse, we will revise our analysis and clarify limitations to prevent harm.
       
 - [X] **E.3 Roll back**: Is there a way to turn off or roll back the model in production if necessary?

       Yes. Because the model is not deployed in a live production environment, it can be revised or discontinued at any stage. Any issues identified during analysis will result in modification or removal of the model.

       
 - [X] **E.4 Unintended use**: Have we taken steps to identify and prevent unintended uses and abuse of the model and do we have a plan to monitor these once the model is deployed?

       Yes. We recognize that findings linking physical traits to performance could be misused in scouting or evaluation contexts. We therefore emphasize that our results describe statistical associations and should not be interpreted as deterministic or prescriptive guidelines.

## Team Expectations

- We will meet at least twice per week in person to ensure steady progress. One meeting will focus on technical work (data cleaning, regression modeling), and the second will focus on writing, interpretation, and revision.

- Before each meeting, assigned members must complete their designated tasks (e.g., coding, variable construction, literature review, formatting). Meetings will be used for problem-solving and integration rather than starting work from scratch.

- We will maintain a shared Google Drive folder and a centralized GitHub repository to ensure full reproducibility of all results. All code will be clearly commented and version-controlled.

- Discord will serve as our primary communication platform. Members are expected to respond within 24 hours, and within 12 hours during the week of submission.

- We will conduct at least one internal review session before submission, where two members independently check the regression outputs and LaTeX tables for accuracy and consistency.

- In case of disagreements, members will first attempt direct discussion. If resolution is not achieved, a third member will mediate. If necessary, we will consult the TA or professor.

## Project Timeline Proposal // We changed this

| Meeting Date | Meeting Time | Completed Before Meeting                                                                                                                                           | Discuss at Meeting                                                                                                     |
| ------------ | ------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------ | ---------------------------------------------------------------------------------------------------------------------- |
| 2/20         | 6 PM         | Download OCDA Year 2023 datasets (Diversion, Defendant Information, Charges Filed); identify candidate merge keys (case number / defendant ID)                     | Confirm datasets are usable; decide final “leniency outcome” definition and project scope                              |
| 2/23         | 6 PM         | Clean each dataset (missing values, duplicates, variable formats); merge datasets; create an analysis-ready dataset                                                | Validate merge accuracy; finalize variable coding plan (race/ethnicity, gender, severity controls, leniency indicator) |
| 2/27         | 6 PM         | Construct leniency indicator (binary); construct severity controls (e.g., felony vs misdemeanor, charge degree/type); produce summary statistics by race/ethnicity | Review descriptive patterns; finalize baseline econometric specification (LPM/Logit)                                   |
| 3/2          | 6 PM         | Run baseline regression (LPM) with required controls; generate preliminary results table                                                                           | Interpret coefficients; check model fit; decide any necessary adjustments to controls/specification                    |
| 3/5          | 6 PM         | Run Logit model; run robustness checks (alternative severity controls / sample restrictions if needed); regenerate tables                                          | Compare LPM vs Logit; decide final model to present; outline interpretation and limitations section                    |
| 3/8          | 6 PM         | Draft report Sections 1–3 (discretion explanation, hypothesis, empirical model); create journal-ready LaTeX regression table                                       | Group review of writing clarity and economic logic; ensure results and narrative match                                 |
| 3/10         | 6 PM         | Complete full draft (including limitations/omitted variables); compile PDF; finalize replication code structure                                                    | Internal peer review (2 members check code + PDF consistency); fix formatting/issues                                   |
| 3/12         | 6 PM         | Final revisions; final run of code from scratch; final PDF compile                                                                                                 | Final submission readiness check; submit project and required surveys/forms                                            |