In [21]:
import pandas as pd
import unicodedata

In [22]:
of_needed=["Player","G","MP","On-Off"]

In [23]:
def remove_accents(name):
    if(isinstance(name, str)):
        return unicodedata.normalize('NFKD', name).encode('ascii', errors='ignore').decode('utf-8')
    else: return name

In [24]:
of_2022=pd.read_csv("00-raw/OF_datas/on-off-2022.csv")
of_2022.columns = of_2022.iloc[0]
of_2022=of_2022[1:]  
of_2022=of_2022.reset_index(drop=True)
of_2022=of_2022[of_needed]
of_2022=of_2022.drop_duplicates("Player")
of_2022["Player"]=of_2022["Player"].apply(remove_accents)
of_2022["Player"]=of_2022["Player"].str.lower()
of_2022.to_csv("01-interim/on_off_cleaned/of_2022_clean.csv", index=False)
of_2022.head()

0         Player   G    MP On-Off
0  mikal bridges  82  2854    9.5
1  miles bridges  80  2837    5.8
2  demar derozan  76  2743    5.1
3   jayson tatum  76  2731   13.8
4     saddiq bey  82  2704   -4.7

In [25]:
of_2021=pd.read_csv("00-raw/OF_datas/on-off-2021.csv")
of_2021.columns = of_2021.iloc[0]
of_2021=of_2021[1:]  
of_2021=of_2021.reset_index(drop=True)
of_2021=of_2021[of_needed]
of_2021=of_2021.drop_duplicates("Player")
of_2021["Player"]=of_2021["Player"].apply(remove_accents)
of_2021["Player"]=of_2021["Player"].str.lower()
of_2021.to_csv("01-interim/on_off_cleaned/of_2021_clean.csv", index=False)
of_2021.head()

0          Player   G    MP On-Off
0   julius randle  71  2667    0.2
1      rj barrett  72  2511    0.4
2    nikola jokic  72  2488    6.4
3     buddy hield  71  2433    6.9
4  damian lillard  67  2398    6.6

In [26]:
of_2020=pd.read_csv("00-raw/OF_datas/on-off-2020.csv")
of_2020.columns = of_2020.iloc[0]
of_2020=of_2020[1:]  
of_2020=of_2020.reset_index(drop=True)
of_2020=of_2020[of_needed]
of_2020=of_2020.drop_duplicates("Player")
of_2020["Player"]=of_2020["Player"].apply(remove_accents)
of_2020["Player"]=of_2020["Player"].str.lower()
of_2020.to_csv("01-interim/on_off_cleaned/of_2020_clean.csv", index=False)
of_2020.head()

0           Player   G    MP On-Off
0      cj mccollum  70  2556    4.8
1     devin booker  70  2512    6.0
2     james harden  68  2483    9.1
3  harrison barnes  72  2482   -1.4
4   damian lillard  66  2474    8.7

In [27]:
of_2019=pd.read_csv("00-raw/OF_datas/on-off-2019.csv")
of_2019.columns = of_2019.iloc[0]
of_2019=of_2019[1:]  
of_2019=of_2019.reset_index(drop=True)
of_2019=of_2019[of_needed]
of_2019=of_2019.drop_duplicates("Player")
of_2019["Player"]=of_2019["Player"].apply(remove_accents)
of_2019["Player"]=of_2019["Player"].str.lower()
of_2019.to_csv("01-interim/on_off_cleaned/of_2019_clean.csv", index=False)
of_2019.head()

0         Player   G    MP On-Off
0   bradley beal  82  3028    2.5
1   james harden  78  2867    5.5
2   kemba walker  82  2863    6.2
3  tobias harris  82  2847   -2.2
6    paul george  77  2841   16.5

In [28]:
of_2018=pd.read_csv("00-raw/OF_datas/on-off-2018.csv")
of_2018.columns = of_2018.iloc[0]
of_2018=of_2018[1:]  
of_2018=of_2018.reset_index(drop=True)
of_2018=of_2018[of_needed]
of_2018=of_2018.drop_duplicates("Player")
of_2018["Player"]=of_2018["Player"].apply(remove_accents)
of_2018["Player"]=of_2018["Player"].str.lower()
of_2018.to_csv("01-interim/on_off_cleaned/of_2018_clean.csv", index=False)
of_2018.head()

0           Player   G    MP On-Off
0     lebron james  82  3026    1.9
1  khris middleton  82  2982    5.3
2   andrew wiggins  82  2979    4.1
3     bradley beal  82  2977    8.1
4     jrue holiday  81  2927   12.8

In [29]:
ts_needed=["Player","TS%"]

In [35]:
ts_2022=pd.read_csv("00-raw/TS_datas/TS-2022.csv")
ts_2022=ts_2022.reset_index(drop=True)
ts_2022=ts_2022[ts_needed]
ts_2022=ts_2022.drop_duplicates("Player")
ts_2022["Player"]=ts_2022["Player"].apply(remove_accents)
ts_2022["Player"]=ts_2022["Player"].str.lower()
ts_2022.to_csv("01-interim/TS_cleaned/ts_2022_clean.csv", index=False)
ts_2022.head()

          Player    TS%
0  mikal bridges  0.627
1  miles bridges  0.593
2  demar derozan  0.590
3   jayson tatum  0.578
4     saddiq bey  0.529

In [36]:
ts_2021=pd.read_csv("00-raw/TS_datas/TS-2021.csv")
ts_2021=ts_2021.reset_index(drop=True)
ts_2021=ts_2021[ts_needed]
ts_2021=ts_2021.drop_duplicates("Player")
ts_2021["Player"]=ts_2021["Player"].apply(remove_accents)
ts_2021["Player"]=ts_2021["Player"].str.lower()
ts_2021.to_csv("01-interim/TS_cleaned/ts_2021_clean.csv", index=False)
ts_2021.head()

           Player    TS%
0   julius randle  0.567
1      rj barrett  0.535
2    nikola jokic  0.647
3     buddy hield  0.567
4  damian lillard  0.623

In [37]:
ts_2020=pd.read_csv("00-raw/TS_datas/TS-2020.csv")
ts_2020=ts_2020.reset_index(drop=True)
ts_2020=ts_2020[ts_needed]
ts_2020=ts_2020.drop_duplicates("Player")
ts_2020["Player"]=ts_2020["Player"].apply(remove_accents)
ts_2020["Player"]=ts_2020["Player"].str.lower()
ts_2020.to_csv("01-interim/TS_cleaned/ts_2020_clean.csv", index=False)
ts_2020.head()

            Player    TS%
0      cj mccollum  0.541
1     devin booker  0.618
2     james harden  0.626
3  harrison barnes  0.574
4   damian lillard  0.627

In [38]:
ts_2019=pd.read_csv("00-raw/TS_datas/TS-2019.csv")
ts_2019=ts_2019.reset_index(drop=True)
ts_2019=ts_2019[ts_needed]
ts_2019=ts_2019.drop_duplicates("Player")
ts_2019["Player"]=ts_2019["Player"].apply(remove_accents)
ts_2019["Player"]=ts_2019["Player"].str.lower()
ts_2019.to_csv("01-interim/TS_cleaned/ts_2019_clean.csv", index=False)
ts_2019.head()

          Player    TS%
0   bradley beal  0.581
1   james harden  0.616
2   kemba walker  0.558
3  tobias harris  0.592
6    paul george  0.583

In [39]:
ts_2018=pd.read_csv("00-raw/TS_datas/TS-2018.csv")
ts_2018=ts_2018.reset_index(drop=True)
ts_2018=ts_2018[ts_needed]
ts_2018=ts_2018.drop_duplicates("Player")
ts_2018["Player"]=ts_2018["Player"].apply(remove_accents)
ts_2018["Player"]=ts_2018["Player"].str.lower()
ts_2018.to_csv("01-interim/TS_cleaned/ts_2018_clean.csv", index=False)
ts_2018.head()

            Player    TS%
0     lebron james  0.621
1  khris middleton  0.577
2   andrew wiggins  0.505
3     bradley beal  0.564
4     jrue holiday  0.570