In [2]:
import pandas as pd
import requests
import json
import unicodedata

In [26]:
raptor=pd.read_json("00-raw/raptor_raw.json")
print(raptor.isna().sum())
raptor.head()

d_raptor_rank     0
mp                0
nba_id            0
o_raptor_rank     0
player_id         0
player_name       0
poss              0
raptor_defense    0
raptor_offense    0
raptor_rank       0
raptor_total      0
season            0
war_total         0
dtype: int64

,d_raptor_rank,mp,nba_id,o_raptor_rank,player_id,player_name,poss,raptor_defense,raptor_offense,raptor_rank,raptor_total,season,war_total
0,131,959,abdelal01,220,abdelal01,Alaa Abdelnaby,1998,-0.2,-2.6,210,-2.8,1992,-0.006893
1,256,1379,abdelal01,225,abdelal01,Alaa Abdelnaby,2754,-2.1,-2.4,251,-4.4,1993,-1.227189
2,4,3483,abdulka01,1,abdulka01,Kareem Abdul-Jabbar,7674,3.1,4.5,1,7.6,1977,18.488255
3,3,2399,abdulka01,6,abdulka01,Kareem Abdul-Jabbar,5343,3.4,3.4,1,6.9,1978,11.688727
4,8,3524,abdulka01,10,abdulka01,Kareem Abdul-Jabbar,7826,2.5,3.0,1,5.5,1979,14.739138

In [28]:
darko=pd.read_json("00-raw/darko_raw.json")
print(darko.isna().sum())
darko.head()

age            0
box_ddpm       0
box_odpm       0
d_dpm          0
d_dpm_rank     0
dpm            0
dpm_rank       0
nba_id         0
o_dpm          0
o_dpm_rank     0
on_off_ddpm    0
on_off_odpm    0
player_name    0
season         0
team_name      0
tm_id          0
dtype: int64

,age,box_ddpm,box_odpm,d_dpm,d_dpm_rank,dpm,dpm_rank,nba_id,o_dpm,o_dpm_rank,on_off_ddpm,on_off_odpm,player_name,season,team_name,tm_id
0,36.1,-0.35,1.49,-0.60,299,0.46,71,2,1.06,50,-1.08,-0.34,Byron Scott,1997,Los Angeles Lakers,1610612747
1,31.1,-0.17,-0.89,-0.14,162,-0.99,179,3,-0.85,206,-0.06,-0.65,Grant Long,1997,Detroit Pistons,1610612765
2,38.0,-0.49,-2.36,-0.47,256,-2.90,406,7,-2.43,388,-0.33,-3.06,Dan Schayes,1997,Orlando Magic,1610612753
3,35.7,-0.54,-1.44,-0.53,275,-2.02,302,9,-1.49,284,-0.44,-1.95,Sedale Threatt,1997,Houston Rockets,1610612745
4,27.3,-0.52,-1.22,-0.52,273,-1.72,263,12,-1.19,242,-0.57,-0.95,Chris King,1997,Miami Heat,1610612748

In [5]:
darko=darko.rename(columns={"player_name":"Player"})
raptor=raptor.rename(columns={"player_name":"Player"})

In [6]:
darko_order=["Player", "dpm", "d_dpm", "o_dpm"]
raptor_order=["Player","raptor_total","raptor_defense","raptor_offense"]
lebron_order=["Player","LEBRON", "D-LEBRON", "O-LEBRON"]

In [7]:
def remove_accents(name):
    if(isinstance(name, str)):
        return unicodedata.normalize('NFKD', name).encode('ascii', errors='ignore').decode('utf-8')
    else: return name

In [8]:
darko_2022=darko[darko["season"]== 2022]
darko_2022=darko_2022[darko_order].reset_index(drop=True)
darko_2022=darko_2022.sort_values(by="dpm", ascending=False).reset_index(drop=True)
darko_2022["Player"]=darko_2022["Player"].apply(remove_accents)
darko_2022["Player"]=darko_2022["Player"].str.lower()
darko_2022=darko_2022.round({"dpm":2, "d_dpm":2, "o_dpm":2})
darko_2022.to_csv("01-interim/darko_cleaned/darko_2022.csv",index=False)
darko_2022.head()

                  Player   dpm  d_dpm  o_dpm
0  giannis antetokounmpo  7.16   2.66   4.50
1            joel embiid  6.35   2.39   3.96
2           lebron james  5.54   0.55   4.99
3           nikola jokic  5.32   1.37   3.95
4           jayson tatum  5.24   0.65   4.59

In [9]:
raptor_2022=raptor[raptor["season"] == 2022]
raptor_2022=raptor_2022[raptor_order].reset_index(drop=True)
raptor_2022=raptor_2022.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
raptor_2022["Player"]=raptor_2022["Player"].apply(remove_accents)
raptor_2022["Player"]=raptor_2022["Player"].str.lower()
raptor_2022=raptor_2022.round({"raptor_total":2, "raptor_defense":2, "raptor_offense":2})
raptor_2022.to_csv("01-interim/raptor_cleaned/raptor_2022.csv",index=False)
raptor_2022.head()

                  Player  raptor_total  raptor_defense  raptor_offense
0           nikola jokic          14.6             6.0             8.5
1  giannis antetokounmpo           8.1             2.5             5.6
2            joel embiid           7.8             4.2             3.6
3            rudy gobert           6.9             6.8             0.1
4          stephen curry           6.8             0.6             6.2

In [10]:
darko_2021=darko[darko["season"]== 2021]
darko_2021=darko_2021[darko_order].reset_index(drop=True)
darko_2021=darko_2021.sort_values(by="dpm", ascending=False).reset_index(drop=True)
darko_2021["Player"]=darko_2021["Player"].apply(remove_accents)
darko_2021["Player"]=darko_2021["Player"].str.lower()
darko_2021=darko_2021.round({"dpm":2, "d_dpm":2, "o_dpm":2})
darko_2021.to_csv("01-interim/darko_cleaned/darko_2021.csv",index=False)
darko_2021.head()

                  Player   dpm  d_dpm  o_dpm
0  giannis antetokounmpo  7.31   2.60   4.71
1          kawhi leonard  6.51   1.48   5.02
2           lebron james  6.48   1.45   5.03
3            joel embiid  5.99   2.64   3.35
4           kevin durant  5.68   0.45   5.23

In [11]:
raptor_2021=raptor[raptor["season"] == 2021]
raptor_2021=raptor_2021[raptor_order].reset_index(drop=True)
raptor_2021=raptor_2021.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
raptor_2021["Player"]=raptor_2021["Player"].apply(remove_accents)
raptor_2021["Player"]=raptor_2021["Player"].str.lower()
raptor_2021=raptor_2021.round({"raptor_total":2, "raptor_defense":2, "raptor_offense":2})
raptor_2021.to_csv("01-interim/raptor_cleaned/raptor_2021.csv",index=False)
raptor_2021.head()

          Player  raptor_total  raptor_defense  raptor_offense
0   nikola jokic           9.2             0.6             8.6
1    joel embiid           8.4             4.6             3.8
2  kawhi leonard           7.8             1.5             6.3
3    rudy gobert           7.8             7.9            -0.1
4    mike conley           7.1             2.9             4.2

In [12]:
darko_2020=darko[darko["season"]== 2020]
darko_2020=darko_2020[darko_order].reset_index(drop=True)
darko_2020=darko_2020.sort_values(by="dpm", ascending=False).reset_index(drop=True)
darko_2020["Player"]=darko_2020["Player"].apply(remove_accents)
darko_2020["Player"]=darko_2020["Player"].str.lower()
darko_2020=darko_2020.round({"dpm":2, "d_dpm":2, "o_dpm":2})
darko_2020.to_csv("01-interim/darko_cleaned/darko_2020.csv",index=False)
darko_2020.head()

                  Player   dpm  d_dpm  o_dpm
0  giannis antetokounmpo  6.78   3.23   3.55
1           lebron james  6.46   1.43   5.03
2          kawhi leonard  6.15   1.64   4.51
3           james harden  5.91   0.14   5.77
4             chris paul  5.68   2.04   3.63

In [13]:
raptor_2020=raptor[raptor["season"] == 2020]
raptor_2020=raptor_2020[raptor_order].reset_index(drop=True)
raptor_2020=raptor_2020.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
raptor_2020["Player"]=raptor_2020["Player"].apply(remove_accents)
raptor_2020["Player"]=raptor_2020["Player"].str.lower()
raptor_2020=raptor_2020.round({"raptor_total":2, "raptor_defense":2, "raptor_offense":2})
raptor_2020.to_csv("01-interim/raptor_cleaned/raptor_2020.csv",index=False)
raptor_2020.head()

                  Player  raptor_total  raptor_defense  raptor_offense
0           james harden          10.5             2.0             8.5
1          kawhi leonard           9.6             3.2             6.4
2  giannis antetokounmpo           8.8             3.4             5.3
3           lebron james           7.8             1.3             6.5
4          anthony davis           7.4             4.4             3.1

In [14]:
darko_2019=darko[darko["season"]== 2019]
darko_2019=darko_2019[darko_order].reset_index(drop=True)
darko_2019=darko_2019.sort_values(by="dpm", ascending=False).reset_index(drop=True)
darko_2019["Player"]=darko_2019["Player"].apply(remove_accents)
darko_2019["Player"]=darko_2019["Player"].str.lower()
darko_2019=darko_2019.round({"dpm":2, "d_dpm":2, "o_dpm":2})
darko_2019.to_csv("01-interim/darko_cleaned/darko_2019.csv",index=False)
darko_2019.head()

                  Player   dpm  d_dpm  o_dpm
0  giannis antetokounmpo  6.39   2.86   3.53
1          kawhi leonard  6.15   1.58   4.57
2           lebron james  5.90   0.67   5.23
3          stephen curry  5.82   0.49   5.33
4             chris paul  5.61   2.19   3.42

In [15]:
raptor_2019=raptor[raptor["season"] == 2019]
raptor_2019=raptor_2019[raptor_order].reset_index(drop=True)
raptor_2019=raptor_2019.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
raptor_2019["Player"]=raptor_2019["Player"].apply(remove_accents)
raptor_2019["Player"]=raptor_2019["Player"].str.lower()
raptor_2019=raptor_2019.round({"raptor_total":2, "raptor_defense":2, "raptor_offense":2})
raptor_2019.to_csv("01-interim/raptor_cleaned/raptor_2019.csv",index=False)
raptor_2019.head()

          Player  raptor_total  raptor_defense  raptor_offense
0   james harden          10.7             1.2             9.6
1    paul george           9.5             4.2             5.3
2   nikola jokic           8.7             2.7             6.1
3  stephen curry           7.8             0.3             7.5
4    joel embiid           7.5             4.8             2.7

In [16]:
darko_2018=darko[darko["season"]== 2018]
darko_2018=darko_2018[darko_order].reset_index(drop=True)
darko_2018=darko_2018.sort_values(by="dpm", ascending=False).reset_index(drop=True)
darko_2018["Player"]=darko_2018["Player"].apply(remove_accents)
darko_2018["Player"]=darko_2018["Player"].str.lower()
darko_2018=darko_2018.round({"dpm":2, "d_dpm":2, "o_dpm":2})
darko_2018.to_csv("01-interim/darko_cleaned/darko_2018.csv",index=False)
darko_2018.head()

              Player   dpm  d_dpm  o_dpm
0      stephen curry  7.16   1.08   6.08
1       lebron james  7.04   0.81   6.23
2         chris paul  6.86   2.24   4.62
3      kawhi leonard  6.11   2.09   4.02
4  russell westbrook  6.10   0.39   5.71

In [17]:
raptor_2018=raptor[raptor["season"] == 2018]
raptor_2018=raptor_2018[raptor_order].reset_index(drop=True)
raptor_2018=raptor_2018.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
raptor_2018["Player"]=raptor_2018["Player"].apply(remove_accents)
raptor_2018["Player"]=raptor_2018["Player"].str.lower()
raptor_2018=raptor_2018.round({"raptor_total":2, "raptor_defense":2, "raptor_offense":2})
raptor_2018.to_csv("01-interim/raptor_cleaned/raptor_2018.csv",index=False)
raptor_2018.head()

           Player  raptor_total  raptor_defense  raptor_offense
0    james harden          10.1             1.3             8.8
1      chris paul           8.6             1.6             7.0
2    jimmy butler           8.1             2.4             5.7
3   stephen curry           7.6            -0.5             8.1
4  victor oladipo           7.5             4.1             3.4

In [29]:
lebron_2022=pd.read_csv("00-raw/lebron_raw/lebron_2022.csv")
print(lebron_2022.isna().sum())
lebron_2022=lebron_2022[lebron_order].reset_index(drop=True)
lebron_2022=lebron_2022.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
lebron_2022["Player"]=lebron_2022["Player"].apply(remove_accents)
lebron_2022["Player"]=lebron_2022["Player"].str.lower()
lebron_2022=lebron_2022.round({"LEBRON":3, "D-LEBRON":3, "O-LEBRON":3})
lebron_2022.to_csv("01-interim/lebron_cleaned/lebron_2022_cleaned.csv",index=False)
lebron_2022.head()

nba_id      0
Player      0
Seasons     0
Team        0
Pos         0
MPG         0
LEBRON      0
O-LEBRON    0
D-LEBRON    0
WAR         0
OffRole     0
DefRole     0
dtype: int64

                  Player  LEBRON  D-LEBRON  O-LEBRON
0           nikola jokic   7.045     1.796     5.249
1  giannis antetokounmpo   6.627     2.058     4.569
2            joel embiid   5.301     1.065     4.236
3            rudy gobert   4.513     3.434     1.079
4          stephen curry   4.467     0.732     3.735

In [30]:
lebron_2021=pd.read_csv("00-raw/lebron_raw/lebron_2021.csv")
print(lebron_2021.isna().sum())
lebron_2021=lebron_2021[lebron_order].reset_index(drop=True)
lebron_2021=lebron_2021.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
lebron_2021["Player"]=lebron_2021["Player"].apply(remove_accents)
lebron_2021["Player"]=lebron_2021["Player"].str.lower()
lebron_2021=lebron_2021.round({"LEBRON":3, "D-LEBRON":3, "O-LEBRON":3})
lebron_2021.to_csv("01-interim/lebron_cleaned/lebron_2021_cleaned.csv",index=False)
lebron_2021.head()

nba_id      0
Player      0
Seasons     0
Team        0
Pos         0
MPG         0
LEBRON      0
O-LEBRON    0
D-LEBRON    0
WAR         0
OffRole     0
DefRole     0
dtype: int64

                  Player  LEBRON  D-LEBRON  O-LEBRON
0           nikola jokic   6.653     0.863     5.790
1  giannis antetokounmpo   6.638     2.534     4.104
2            rudy gobert   5.455     4.254     1.201
3       jimmy butler iii   5.232     1.605     3.627
4          kawhi leonard   4.925     1.260     3.665

In [31]:
lebron_2020=pd.read_csv("00-raw/lebron_raw/lebron_2020.csv")
print(lebron_2020.isna().sum())
lebron_2020=lebron_2020[lebron_order].reset_index(drop=True)
lebron_2020=lebron_2020.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
lebron_2020["Player"]=lebron_2020["Player"].apply(remove_accents)
lebron_2020["Player"]=lebron_2020["Player"].str.lower()
lebron_2020=lebron_2020.round({"LEBRON":3, "D-LEBRON":3, "O-LEBRON":3})
lebron_2020.to_csv("01-interim/lebron_cleaned/lebron_2020_cleaned.csv",index=False)
lebron_2020.head()

nba_id      0
Player      0
Seasons     0
Team        0
Pos         0
MPG         0
LEBRON      0
O-LEBRON    0
D-LEBRON    0
WAR         0
OffRole     0
DefRole     0
dtype: int64

                  Player  LEBRON  D-LEBRON  O-LEBRON
0  giannis antetokounmpo   8.291     2.496     5.795
1          kawhi leonard   6.845     1.840     5.005
2           james harden   6.046    -0.849     6.895
3           lebron james   5.812     0.601     5.211
4          anthony davis   5.557     2.215     3.342

In [32]:
lebron_2019=pd.read_csv("00-raw/lebron_raw/lebron_2019.csv")
print(lebron_2019.isna().sum())
lebron_2019=lebron_2019[lebron_order].reset_index(drop=True)
lebron_2019=lebron_2019.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
lebron_2019["Player"]=lebron_2019["Player"].apply(remove_accents)
lebron_2019["Player"]=lebron_2019["Player"].str.lower()
lebron_2019=lebron_2019.round({"LEBRON":3, "D-LEBRON":3, "O-LEBRON":3})
lebron_2019.to_csv("01-interim/lebron_cleaned/lebron_2019_cleaned.csv",index=False)
lebron_2019.head()

nba_id      0
Player      0
Seasons     0
Team        0
Pos         0
MPG         0
LEBRON      0
O-LEBRON    0
D-LEBRON    0
WAR         0
OffRole     0
DefRole     0
dtype: int64

                  Player  LEBRON  D-LEBRON  O-LEBRON
0  giannis antetokounmpo   7.440     3.109     4.331
1          anthony davis   6.767     2.353     4.414
2           james harden   5.472    -0.951     6.423
3            paul george   5.223     1.422     3.801
4           kevin durant   4.851     0.838     4.013

In [33]:
lebron_2018=pd.read_csv("00-raw/lebron_raw/lebron_2018.csv")
print(lebron_2018.isna().sum())
lebron_2018=lebron_2018[lebron_order].reset_index(drop=True)
lebron_2018=lebron_2018.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
lebron_2018["Player"]=lebron_2018["Player"].apply(remove_accents)
lebron_2018["Player"]=lebron_2018["Player"].str.lower()
lebron_2018=lebron_2018.round({"LEBRON":3, "D-LEBRON":3, "O-LEBRON":3})
lebron_2018.to_csv("01-interim/lebron_cleaned/lebron_2018_cleaned.csv",index=False)
lebron_2018.head()

nba_id      0
Player      0
Seasons     0
Team        0
Pos         0
MPG         0
LEBRON      0
O-LEBRON    0
D-LEBRON    0
WAR         0
OffRole     0
DefRole     0
dtype: int64

                  Player  LEBRON  D-LEBRON  O-LEBRON
0           james harden   6.407     0.011     6.396
1          stephen curry   5.906    -0.230     6.137
2      russell westbrook   5.222     0.838     4.383
3           lebron james   4.924    -0.433     5.357
4  giannis antetokounmpo   4.678     1.218     3.460