In [61]:
import pandas as pd

In [62]:
of_needed=["Player","G","MP","On-Off"]

In [63]:
of_2022=pd.read_csv("00-raw/OF_datas/on-off-2022.csv")
of_2022.columns = of_2022.iloc[0]
of_2022=of_2022[1:]  
of_2022=of_2022.reset_index(drop=True)
of_2022=of_2022[of_needed]
of_2022=of_2022.drop_duplicates("Player")
#of_2022.to_csv("01-interim/on_off_cleaned/of_2022_clean.csv", index=False)
of_2022.head()

0         Player   G    MP On-Off
0  Mikal Bridges  82  2854    9.5
1  Miles Bridges  80  2837    5.8
2  DeMar DeRozan  76  2743    5.1
3   Jayson Tatum  76  2731   13.8
4     Saddiq Bey  82  2704   -4.7

In [64]:
of_2021=pd.read_csv("00-raw/OF_datas/on-off-2021.csv")
of_2021.columns = of_2021.iloc[0]
of_2021=of_2021[1:]  
of_2021=of_2021.reset_index(drop=True)
of_2021=of_2021[of_needed]
of_2021=of_2021.drop_duplicates("Player")
#of_2021.to_csv("01-interim/on_off_cleaned/of_2021_clean.csv", index=False)
of_2021.head()

0          Player   G    MP On-Off
0   Julius Randle  71  2667    0.2
1      RJ Barrett  72  2511    0.4
2    Nikola Jokić  72  2488    6.4
3     Buddy Hield  71  2433    6.9
4  Damian Lillard  67  2398    6.6

In [65]:
of_2020=pd.read_csv("00-raw/OF_datas/on-off-2020.csv")
of_2020.columns = of_2020.iloc[0]
of_2020=of_2020[1:]  
of_2020=of_2020.reset_index(drop=True)
of_2020=of_2020[of_needed]
of_2020=of_2020.drop_duplicates("Player")
#of_2020.to_csv("01-interim/on_off_cleaned/of_2020_clean.csv", index=False)
of_2020.head()

0           Player   G    MP On-Off
0      CJ McCollum  70  2556    4.8
1     Devin Booker  70  2512    6.0
2     James Harden  68  2483    9.1
3  Harrison Barnes  72  2482   -1.4
4   Damian Lillard  66  2474    8.7

In [66]:
of_2019=pd.read_csv("00-raw/OF_datas/on-off-2019.csv")
of_2019.columns = of_2019.iloc[0]
of_2019=of_2019[1:]  
of_2019=of_2019.reset_index(drop=True)
of_2019=of_2019[of_needed]
of_2019=of_2019.drop_duplicates("Player")
#of_2019.to_csv("01-interim/on_off_cleaned/of_2019_clean.csv", index=False)
of_2019.head()

0         Player   G    MP On-Off
0   Bradley Beal  82  3028    2.5
1   James Harden  78  2867    5.5
2   Kemba Walker  82  2863    6.2
3  Tobias Harris  82  2847   -2.2
6    Paul George  77  2841   16.5

In [67]:
of_2018=pd.read_csv("00-raw/OF_datas/on-off-2018.csv")
of_2018.columns = of_2018.iloc[0]
of_2018=of_2018[1:]  
of_2018=of_2018.reset_index(drop=True)
of_2018=of_2018[of_needed]
of_2018=of_2018.drop_duplicates("Player")
#of_2018.to_csv("01-interim/on_off_cleaned/of_2018_clean.csv", index=False)
of_2018.head()

0           Player   G    MP On-Off
0     LeBron James  82  3026    1.9
1  Khris Middleton  82  2982    5.3
2   Andrew Wiggins  82  2979    4.1
3     Bradley Beal  82  2977    8.1
4     Jrue Holiday  81  2927   12.8

In [82]:
ts_needed=["Player","TS%"]

In [83]:
ts_2022=pd.read_csv("00-raw/TS_datas/TS-2022.csv")
ts_2022=ts_2022.reset_index(drop=True)
ts_2022=ts_2022[ts_needed]
ts_2022=ts_2022.drop_duplicates("Player")
#ts_2022.to_csv("01-interim/TS_cleaned/ts_2022_clean.csv", index=False)
ts_2022.head()

          Player    TS%
0  Mikal Bridges  0.627
1  Miles Bridges  0.593
2  DeMar DeRozan  0.590
3   Jayson Tatum  0.578
4     Saddiq Bey  0.529

In [84]:
ts_2021=pd.read_csv("00-raw/TS_datas/TS-2021.csv")
ts_2021=ts_2021.reset_index(drop=True)
ts_2021=ts_2021[ts_needed]
ts_2021=ts_2021.drop_duplicates("Player")
#ts_2021.to_csv("01-interim/TS_cleaned/ts_2021_clean.csv", index=False)
ts_2021.head()

           Player    TS%
0   Julius Randle  0.567
1      RJ Barrett  0.535
2    Nikola Jokić  0.647
3     Buddy Hield  0.567
4  Damian Lillard  0.623

In [85]:
ts_2020=pd.read_csv("00-raw/TS_datas/TS-2020.csv")
ts_2020=ts_2020.reset_index(drop=True)
ts_2020=ts_2020[ts_needed]
ts_2020=ts_2020.drop_duplicates("Player")
#ts_2020.to_csv("01-interim/TS_cleaned/ts_2020_clean.csv", index=False)
ts_2020.head()

            Player    TS%
0      CJ McCollum  0.541
1     Devin Booker  0.618
2     James Harden  0.626
3  Harrison Barnes  0.574
4   Damian Lillard  0.627

In [86]:
ts_2019=pd.read_csv("00-raw/TS_datas/TS-2019.csv")
ts_2019=ts_2019.reset_index(drop=True)
ts_2019=ts_2019[ts_needed]
ts_2019=ts_2019.drop_duplicates("Player")
#ts_2019.to_csv("01-interim/TS_cleaned/ts_2019_clean.csv", index=False)
ts_2019.head()

          Player    TS%
0   Bradley Beal  0.581
1   James Harden  0.616
2   Kemba Walker  0.558
3  Tobias Harris  0.592
6    Paul George  0.583

In [87]:
ts_2018=pd.read_csv("00-raw/TS_datas/TS-2018.csv")
ts_2018=ts_2018.reset_index(drop=True)
ts_2018=ts_2018[ts_needed]
ts_2018=ts_2018.drop_duplicates("Player")
#ts_2018.to_csv("01-interim/TS_cleaned/ts_2018_clean.csv", index=False)
ts_2018.head()

            Player    TS%
0     LeBron James  0.621
1  Khris Middleton  0.577
2   Andrew Wiggins  0.505
3     Bradley Beal  0.564
4     Jrue Holiday  0.570