In [5]:
import pandas as pd
import requests
import json
from bs4 import BeautifulSoup

In [27]:
raptor_raw=pd.read_json("00-raw/raptor_raw.json")
raptor_raw.head()

,d_raptor_rank,mp,nba_id,o_raptor_rank,player_id,player_name,poss,raptor_defense,raptor_offense,raptor_rank,raptor_total,season,war_total
0,131,959,abdelal01,220,abdelal01,Alaa Abdelnaby,1998,-0.2,-2.6,210,-2.8,1992,-0.006893
1,256,1379,abdelal01,225,abdelal01,Alaa Abdelnaby,2754,-2.1,-2.4,251,-4.4,1993,-1.227189
2,4,3483,abdulka01,1,abdulka01,Kareem Abdul-Jabbar,7674,3.1,4.5,1,7.6,1977,18.488255
3,3,2399,abdulka01,6,abdulka01,Kareem Abdul-Jabbar,5343,3.4,3.4,1,6.9,1978,11.688727
4,8,3524,abdulka01,10,abdulka01,Kareem Abdul-Jabbar,7826,2.5,3.0,1,5.5,1979,14.739138

In [28]:
darko_raw=pd.read_json("00-raw/darko_raw.json")
darko_raw.head()

,age,box_ddpm,box_odpm,d_dpm,d_dpm_rank,dpm,dpm_rank,nba_id,o_dpm,o_dpm_rank,on_off_ddpm,on_off_odpm,player_name,season,team_name,tm_id
0,36.1,-0.35,1.49,-0.60,299,0.46,71,2,1.06,50,-1.08,-0.34,Byron Scott,1997,Los Angeles Lakers,1610612747
1,31.1,-0.17,-0.89,-0.14,162,-0.99,179,3,-0.85,206,-0.06,-0.65,Grant Long,1997,Detroit Pistons,1610612765
2,38.0,-0.49,-2.36,-0.47,256,-2.90,406,7,-2.43,388,-0.33,-3.06,Dan Schayes,1997,Orlando Magic,1610612753
3,35.7,-0.54,-1.44,-0.53,275,-2.02,302,9,-1.49,284,-0.44,-1.95,Sedale Threatt,1997,Houston Rockets,1610612745
4,27.3,-0.52,-1.22,-0.52,273,-1.72,263,12,-1.19,242,-0.57,-0.95,Chris King,1997,Miami Heat,1610612748

In [9]:
darko_order=["player_name", "dpm", "d_dpm", "o_dpm"]
raptor_order=["player_name","raptor_total","raptor_defense","raptor_offense"]
lebron_order=["Player","LEBRON", "O-LEBRON", "D-LEBRON"]

In [10]:
df_darko_2022=df_darko[df_darko["season"]== 2022]
df_darko_2022=df_darko_2022[darko_order].reset_index(drop=True)
df_darko_2022=df_darko_2022.sort_values(by="dpm", ascending=False).reset_index(drop=True)
#df_darko_2022.to_csv("darko_2022.csv",index=False)
df_darko_2022.head()

             player_name   dpm  d_dpm  o_dpm
0  Giannis Antetokounmpo  7.16   2.66   4.50
1            Joel Embiid  6.35   2.39   3.96
2           LeBron James  5.54   0.55   4.99
3           Nikola Jokic  5.32   1.37   3.95
4           Jayson Tatum  5.24   0.65   4.59

In [11]:
df_raptor_2022=df_raptor[df_raptor["season"] == 2022]
df_raptor_2022=df_raptor_2022[raptor_order].reset_index(drop=True)
df_raptor_2022=df_raptor_2022.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
#df_raptor_2022.to_csv("raptor_2022.csv",index=False)
df_raptor_2022.head()

             player_name  raptor_total  raptor_defense  raptor_offense
0           Nikola Jokic          14.6             6.0             8.5
1  Giannis Antetokounmpo           8.1             2.5             5.6
2            Joel Embiid           7.8             4.2             3.6
3            Rudy Gobert           6.9             6.8             0.1
4          Stephen Curry           6.8             0.6             6.2

In [12]:
df_darko_2021=df_darko[df_darko["season"]== 2021]
df_darko_2021=df_darko_2021[darko_order].reset_index(drop=True)
df_darko_2021=df_darko_2021.sort_values(by="dpm", ascending=False).reset_index(drop=True)
#df_darko_2021.to_csv("darko_2021.csv",index=False)
df_darko_2021.head()

             player_name   dpm  d_dpm  o_dpm
0  Giannis Antetokounmpo  7.31   2.60   4.71
1          Kawhi Leonard  6.51   1.48   5.02
2           LeBron James  6.48   1.45   5.03
3            Joel Embiid  5.99   2.64   3.35
4           Kevin Durant  5.68   0.45   5.23

In [13]:
df_raptor_2021=df_raptor[df_raptor["season"] == 2021]
df_raptor_2021=df_raptor_2021[raptor_order].reset_index(drop=True)
df_raptor_2021=df_raptor_2021.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
#df_raptor_2021.to_csv("raptor_2021.csv",index=False)
df_raptor_2021.head()

     player_name  raptor_total  raptor_defense  raptor_offense
0   Nikola Jokic           9.2             0.6             8.6
1    Joel Embiid           8.4             4.6             3.8
2  Kawhi Leonard           7.8             1.5             6.3
3    Rudy Gobert           7.8             7.9            -0.1
4    Mike Conley           7.1             2.9             4.2

In [14]:
df_darko_2020=df_darko[df_darko["season"]== 2020]
df_darko_2020=df_darko_2020[darko_order].reset_index(drop=True)
df_darko_2020=df_darko_2020.sort_values(by="dpm", ascending=False).reset_index(drop=True)
#df_darko_2020.to_csv("darko_2020.csv",index=False)
df_darko_2020.head()

             player_name   dpm  d_dpm  o_dpm
0  Giannis Antetokounmpo  6.78   3.23   3.55
1           LeBron James  6.46   1.43   5.03
2          Kawhi Leonard  6.15   1.64   4.51
3           James Harden  5.91   0.14   5.77
4             Chris Paul  5.68   2.04   3.63

In [15]:
df_raptor_2020=df_raptor[df_raptor["season"] == 2020]
df_raptor_2020=df_raptor_2020[raptor_order].reset_index(drop=True)
df_raptor_2020=df_raptor_2020.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
#df_raptor_2020.to_csv("raptor_2020.csv",index=False)
df_raptor_2020.head()

             player_name  raptor_total  raptor_defense  raptor_offense
0           James Harden          10.5             2.0             8.5
1          Kawhi Leonard           9.6             3.2             6.4
2  Giannis Antetokounmpo           8.8             3.4             5.3
3           LeBron James           7.8             1.3             6.5
4          Anthony Davis           7.4             4.4             3.1

In [16]:
df_darko_2019=df_darko[df_darko["season"]== 2019]
df_darko_2019=df_darko_2019[darko_order].reset_index(drop=True)
df_darko_2019=df_darko_2019.sort_values(by="dpm", ascending=False).reset_index(drop=True)
#df_darko_2019.to_csv("darko_2019.csv",index=False)
df_darko_2019.head()

             player_name   dpm  d_dpm  o_dpm
0  Giannis Antetokounmpo  6.39   2.86   3.53
1          Kawhi Leonard  6.15   1.58   4.57
2           LeBron James  5.90   0.67   5.23
3          Stephen Curry  5.82   0.49   5.33
4             Chris Paul  5.61   2.19   3.42

In [17]:
df_raptor_2019=df_raptor[df_raptor["season"] == 2019]
df_raptor_2019=df_raptor_2019[raptor_order].reset_index(drop=True)
df_raptor_2019=df_raptor_2019.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
#df_raptor_2019.to_csv("raptor_2019.csv",index=False)
df_raptor_2019.head()

     player_name  raptor_total  raptor_defense  raptor_offense
0   James Harden          10.7             1.2             9.6
1    Paul George           9.5             4.2             5.3
2   Nikola Jokic           8.7             2.7             6.1
3  Stephen Curry           7.8             0.3             7.5
4    Joel Embiid           7.5             4.8             2.7

In [18]:
df_darko_2018=df_darko[df_darko["season"]== 2018]
df_darko_2018=df_darko_2018[darko_order].reset_index(drop=True)
df_darko_2018=df_darko_2018.sort_values(by="dpm", ascending=False).reset_index(drop=True)
#df_darko_2018.to_csv("darko_2018.csv",index=False)
df_darko_2018.head()

         player_name   dpm  d_dpm  o_dpm
0      Stephen Curry  7.16   1.08   6.08
1       LeBron James  7.04   0.81   6.23
2         Chris Paul  6.86   2.24   4.62
3      Kawhi Leonard  6.11   2.09   4.02
4  Russell Westbrook  6.10   0.39   5.71

In [19]:
df_raptor_2018=df_raptor[df_raptor["season"] == 2018]
df_raptor_2018=df_raptor_2018[raptor_order].reset_index(drop=True)
df_raptor_2018=df_raptor_2018.sort_values(by="raptor_total", ascending=False).reset_index(drop=True)
#df_raptor_2018.to_csv("raptor_2018.csv",index=False)
df_raptor_2018.head()

      player_name  raptor_total  raptor_defense  raptor_offense
0    James Harden          10.1             1.3             8.8
1      Chris Paul           8.6             1.6             7.0
2    Jimmy Butler           8.1             2.4             5.7
3   Stephen Curry           7.6            -0.5             8.1
4  Victor Oladipo           7.5             4.1             3.4

In [29]:
df_lebron_2022=pd.read_csv("00-raw/lebron_raw/lebron_2022.csv")
df_lebron_2022=df_lebron_2022[lebron_order].reset_index(drop=True)
df_lebron_2022=df_lebron_2022.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
#df_lebron_2022.to_csv("lebron_2022_cleaned.csv",index=False)
df_lebron_2022.head()

                  Player  LEBRON  O-LEBRON  D-LEBRON
0           Nikola Jokić   7.045     5.249     1.796
1  Giannis Antetokounmpo   6.627     4.569     2.058
2            Joel Embiid   5.301     4.236     1.065
3            Rudy Gobert   4.513     1.079     3.434
4          Stephen Curry   4.467     3.735     0.732

In [30]:
df_lebron_2021=pd.read_csv("00-raw/lebron_raw/lebron_2021.csv")
df_lebron_2021=df_lebron_2021[lebron_order].reset_index(drop=True)
df_lebron_2021=df_lebron_2021.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
#df_lebron_2021.to_csv("lebron_2021_cleaned.csv",index=False)
df_lebron_2021.head()

                  Player  LEBRON  O-LEBRON  D-LEBRON
0           Nikola Jokić   6.653     5.790     0.863
1  Giannis Antetokounmpo   6.638     4.104     2.534
2            Rudy Gobert   5.455     1.201     4.254
3       Jimmy Butler Iii   5.232     3.627     1.605
4          Kawhi Leonard   4.925     3.665     1.260

In [31]:
df_lebron_2020=pd.read_csv("00-raw/lebron_raw/lebron_2020.csv")
df_lebron_2020=df_lebron_2020[lebron_order].reset_index(drop=True)
df_lebron_2020=df_lebron_2020.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
#df_lebron_2020.to_csv("lebron_2020_cleaned.csv",index=False)
df_lebron_2020.head()

                  Player  LEBRON  O-LEBRON  D-LEBRON
0  Giannis Antetokounmpo   8.291     5.795     2.496
1          Kawhi Leonard   6.845     5.005     1.840
2           James Harden   6.046     6.895    -0.849
3           Lebron James   5.812     5.211     0.601
4          Anthony Davis   5.557     3.342     2.215

In [32]:
df_lebron_2019=pd.read_csv("00-raw/lebron_raw/lebron_2019.csv")
df_lebron_2019=df_lebron_2019[lebron_order].reset_index(drop=True)
df_lebron_2019=df_lebron_2019.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
#df_lebron_2019.to_csv("lebron_2019_cleaned.csv",index=False)
df_lebron_2019.head()

                  Player  LEBRON  O-LEBRON  D-LEBRON
0  Giannis Antetokounmpo   7.440     4.331     3.109
1          Anthony Davis   6.767     4.414     2.353
2           James Harden   5.472     6.423    -0.951
3            Paul George   5.223     3.801     1.422
4           Kevin Durant   4.851     4.013     0.838

In [33]:
df_lebron_2018=pd.read_csv("00-raw/lebron_raw/lebron_2018.csv")
df_lebron_2018=df_lebron_2018[lebron_order].reset_index(drop=True)
df_lebron_2018=df_lebron_2018.sort_values(by="LEBRON", ascending=False).reset_index(drop=True)
#df_lebron_2018.to_csv("lebron_2018_cleaned.csv",index=False)
df_lebron_2018.head()

                  Player  LEBRON  O-LEBRON  D-LEBRON
0           James Harden   6.407     6.396     0.011
1          Stephen Curry   5.906     6.137    -0.230
2      Russell Westbrook   5.222     4.383     0.838
3           Lebron James   4.924     5.357    -0.433
4  Giannis Antetokounmpo   4.678     3.460     1.218