In [23]:
import pandas as pd

In [24]:
lebron_2022=pd.read_csv("01-interim/lebron_cleaned/lebron_2022_cleaned.csv")
lebron_2021=pd.read_csv("01-interim/lebron_cleaned/lebron_2021_cleaned.csv")
lebron_2020=pd.read_csv("01-interim/lebron_cleaned/lebron_2020_cleaned.csv")
lebron_2019=pd.read_csv("01-interim/lebron_cleaned/lebron_2019_cleaned.csv")
lebron_2018=pd.read_csv("01-interim/lebron_cleaned/lebron_2018_cleaned.csv")

In [25]:
raptor_2022=pd.read_csv("01-interim/raptor_cleaned/raptor_2022.csv")
raptor_2021=pd.read_csv("01-interim/raptor_cleaned/raptor_2021.csv")
raptor_2020=pd.read_csv("01-interim/raptor_cleaned/raptor_2020.csv")
raptor_2019=pd.read_csv("01-interim/raptor_cleaned/raptor_2019.csv")
raptor_2018=pd.read_csv("01-interim/raptor_cleaned/raptor_2018.csv")

In [26]:
darko_2022=pd.read_csv("01-interim/darko_cleaned/darko_2022.csv")
darko_2021=pd.read_csv("01-interim/darko_cleaned/darko_2021.csv")
darko_2020=pd.read_csv("01-interim/darko_cleaned/darko_2020.csv")
darko_2019=pd.read_csv("01-interim/darko_cleaned/darko_2019.csv")
darko_2018=pd.read_csv("01-interim/darko_cleaned/darko_2018.csv")

In [34]:
ts_2022=pd.read_csv("01-interim/TS_cleaned/ts_2022_clean.csv")
ts_2021=pd.read_csv("01-interim/TS_cleaned/ts_2021_clean.csv")
ts_2020=pd.read_csv("01-interim/TS_cleaned/ts_2020_clean.csv")
ts_2019=pd.read_csv("01-interim/TS_cleaned/ts_2019_clean.csv")
ts_2018=pd.read_csv("01-interim/TS_cleaned/ts_2018_clean.csv")

In [35]:
on_off_2022=pd.read_csv("01-interim/on_off_cleaned/of_2022_clean.csv")
on_off_2021=pd.read_csv("01-interim/on_off_cleaned/of_2021_clean.csv")
on_off_2020=pd.read_csv("01-interim/on_off_cleaned/of_2020_clean.csv")
on_off_2019=pd.read_csv("01-interim/on_off_cleaned/of_2019_clean.csv")
on_off_2018=pd.read_csv("01-interim/on_off_cleaned/of_2018_clean.csv")

In [37]:
merged_2022=pd.merge(
    darko_2022,
    raptor_2022,
    on="Player",
)
merged_2022_2=pd.merge(
    on_off_2022,
    ts_2022,
    on="Player"
)
merged_2022_3=pd.merge(
    merged_2022_2,
    lebron_2022,
    on="Player"
)
final_2022=pd.merge(
    merged_2022_3,
    merged_2022,
    on="Player"
)
final_2022["Season"]=2022
final_2022

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,mikal bridges,82,2854,9.5,0.627,1.376,1.181,0.195,1.21,0.22,0.99,2.7,0.9,1.8,2022
1,miles bridges,80,2837,5.8,0.593,0.797,-0.597,1.393,1.13,-0.28,1.40,1.7,-0.0,1.7,2022
2,demar derozan,76,2743,5.1,0.590,1.265,-1.530,2.794,0.40,-1.23,1.63,1.4,-2.3,3.6,2022
3,jayson tatum,76,2731,13.8,0.578,4.327,0.993,3.334,5.24,0.65,4.59,5.6,1.6,4.0,2022
4,saddiq bey,82,2704,-4.7,0.529,-2.045,-2.011,-0.034,-1.67,-1.25,-0.42,-2.3,-2.4,0.1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,eric paschall,58,736,-10.0,0.612,-2.421,-1.858,-0.563,-1.28,-1.29,0.01,-2.7,-2.8,0.2,2022
318,naji marshall,55,735,-1.6,0.505,0.304,0.325,-0.021,-0.63,0.23,-0.86,-0.7,0.7,-1.4,2022
319,danuel house jr.,42,727,2.0,0.555,-0.677,0.196,-0.873,-0.14,0.73,-0.87,-1.3,0.7,-2.0,2022
320,demarcus cousins,48,718,-0.7,0.567,1.636,0.394,1.242,0.33,0.45,-0.12,2.8,2.0,0.7,2022
321,frank ntilikina,58,685,1.1,0.513,-0.914,-0.043,-0.871,-0.54,0.77,-1.31,1.5,3.6,-2.1,2022

In [40]:
merged_2021=pd.merge(
    darko_2021,
    raptor_2021,
    on="Player",
)
merged_2021_2=pd.merge(
    on_off_2021,
    ts_2021,
    on="Player"
)
merged_2021_3=pd.merge(
    merged_2021_2,
    lebron_2021,
    on="Player"
)
final_2021=pd.merge(
    merged_2021_3,
    merged_2021,
    on="Player"
)
final_2021["Season"]=2021
final_2021

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,julius randle,71,2667,0.2,0.567,0.266,0.116,0.150,0.65,-0.45,1.11,2.5,2.1,0.4,2021
1,rj barrett,72,2511,0.4,0.535,-1.853,-0.737,-1.116,-0.60,-0.17,-0.43,-0.0,-0.3,0.3,2021
2,nikola jokic,72,2488,6.4,0.647,6.653,0.863,5.790,4.44,0.81,3.63,9.2,0.6,8.6,2021
3,buddy hield,71,2433,6.9,0.567,0.145,-0.697,0.842,0.01,-0.97,0.98,0.4,-1.5,1.9,2021
4,damian lillard,67,2398,6.6,0.623,3.724,-1.889,5.613,3.97,-1.68,5.65,6.1,-2.2,8.3,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,demarcus cousins,41,713,0.0,0.537,1.208,1.832,-0.625,-1.10,0.48,-1.58,1.6,2.8,-1.2,2021
306,tyler johnson,39,684,-0.2,0.546,-2.143,-1.738,-0.406,-1.89,-1.20,-0.69,-1.6,-0.9,-0.7,2021
307,de'andre hunter,23,678,4.2,0.603,-0.006,0.122,-0.128,-0.71,-0.25,-0.45,3.2,3.9,-0.7,2021
308,george hill,30,672,3.9,0.596,-1.084,-0.824,-0.260,-1.16,-0.10,-1.06,1.9,2.2,-0.3,2021
309,onyeka okongwu,50,601,-10.0,0.655,-0.285,1.187,-1.472,-0.61,0.48,-1.09,-1.1,0.7,-1.8,2021

In [41]:
merged_2020=pd.merge(
    darko_2020,
    raptor_2020,
    on="Player",
)
merged_2020_2=pd.merge(
    on_off_2020,
    ts_2020,
    on="Player"
)
merged_2020_3=pd.merge(
    merged_2020_2,
    lebron_2020,
    on="Player"
)
final_2020=pd.merge(
    merged_2020_3,
    merged_2020,
    on="Player"
)
final_2020["Season"]=2020
final_2020

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,cj mccollum,70,2556,4.8,0.541,-0.422,-1.932,1.510,2.06,0.28,1.78,0.7,-1.8,2.4,2020
1,devin booker,70,2512,6.0,0.618,1.786,-1.396,3.183,1.62,-1.73,3.35,1.9,-2.9,4.8,2020
2,james harden,68,2483,9.1,0.626,6.046,-0.849,6.895,5.91,0.14,5.77,10.5,2.0,8.5,2020
3,harrison barnes,72,2482,-1.4,0.574,-0.399,-0.211,-0.188,-0.87,-0.55,-0.32,-1.4,-1.1,-0.3,2020
4,damian lillard,66,2474,8.7,0.627,2.652,-2.665,5.317,4.36,-1.61,5.97,6.4,-1.8,8.1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,sekou doumbouya,38,754,-8.9,0.474,-3.295,-0.831,-2.464,-3.46,-0.70,-2.76,-9.1,-3.9,-5.2,2020
296,keita bates-diop,44,744,-9.1,0.539,-1.883,-0.567,-1.316,-2.34,-0.54,-1.80,-4.1,-2.1,-2.0,2020
297,reggie jackson,31,743,6.6,0.529,-0.327,-0.862,0.536,0.33,-0.50,0.83,-0.6,-1.4,0.8,2020
298,tyler johnson,39,709,-6.6,0.504,-2.144,-0.962,-1.181,-2.41,-1.30,-1.11,-5.2,-2.5,-2.8,2020
299,andre iguodala,21,418,-3.9,0.507,-0.151,1.440,-1.591,-0.08,2.20,-2.29,-0.4,1.5,-1.8,2020

In [42]:
merged_2019=pd.merge(
    darko_2019,
    raptor_2019,
    on="Player",
)
merged_2019_2=pd.merge(
    on_off_2019,
    ts_2019,
    on="Player"
)
merged_2019_3=pd.merge(
    merged_2019_2,
    lebron_2019,
    on="Player"
)
final_2019=pd.merge(
    merged_2019_3,
    merged_2019,
    on="Player"
)
final_2019["Season"]=2019
final_2019

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,bradley beal,82,3028,2.5,0.581,1.127,-1.203,2.330,2.76,-0.83,3.59,3.4,-0.9,4.3,2019
1,james harden,78,2867,5.5,0.616,5.472,-0.951,6.423,5.20,-0.67,5.87,10.7,1.2,9.6,2019
2,kemba walker,82,2863,6.2,0.558,2.841,-1.049,3.891,3.22,-0.36,3.58,5.7,0.8,5.0,2019
3,tobias harris,82,2847,-2.2,0.592,0.589,-0.580,1.169,0.37,-0.30,0.67,0.3,-0.6,0.9,2019
4,paul george,77,2841,16.5,0.583,5.223,1.422,3.801,4.82,2.27,2.55,9.5,4.2,5.3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,j.j. barea,38,752,5.7,0.495,0.995,-0.916,1.911,1.31,-0.97,2.29,1.2,-0.7,1.9,2019
311,marcin gortat,47,751,-9.0,0.562,-1.040,0.878,-1.918,-1.35,1.28,-2.63,-2.8,0.8,-3.6,2019
312,kenneth faried,37,728,-0.2,0.622,0.310,-0.353,0.663,0.58,0.16,0.42,0.4,0.0,0.4,2019
313,treveon graham,35,715,3.3,0.458,-0.796,0.339,-1.135,-1.54,0.06,-1.60,-0.1,1.8,-1.8,2019
314,boban marjanovic,58,681,-2.0,0.664,1.361,0.419,0.942,1.42,1.22,0.20,2.6,1.6,1.0,2019

In [43]:
merged_2018=pd.merge(
    darko_2018,
    raptor_2018,
    on="Player",
)
merged_2018_2=pd.merge(
    on_off_2018,
    ts_2018,
    on="Player"
)
merged_2018_3=pd.merge(
    merged_2018_2,
    lebron_2018,
    on="Player"
)
final_2018=pd.merge(
    merged_2018_3,
    merged_2018,
    on="Player"
)
final_2018["Season"]=2018
final_2018

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,lebron james,82,3026,1.9,0.621,4.924,-0.433,5.357,7.04,0.81,6.23,5.8,-1.7,7.5,2018
1,khris middleton,82,2982,5.3,0.577,1.688,-0.195,1.883,2.64,0.66,1.98,1.8,-1.0,2.8,2018
2,andrew wiggins,82,2979,4.1,0.505,0.417,-0.547,0.965,-0.79,-1.16,0.37,-0.6,0.2,-0.8,2018
3,bradley beal,82,2977,8.1,0.564,0.654,-1.216,1.870,2.21,-0.57,2.79,2.8,0.5,2.3,2018
4,jrue holiday,81,2927,12.8,0.570,1.858,0.355,1.502,3.56,1.41,2.15,4.4,2.0,2.4,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,nene,52,758,9.6,0.594,0.519,1.249,-0.730,1.90,2.99,-1.09,2.9,4.4,-1.5,2018
303,richaun holmes,48,746,-7.0,0.585,-0.227,0.006,-0.233,-0.05,0.51,-0.56,-2.0,-0.1,-1.8,2018
304,jabari parker,31,743,-4.2,0.550,-1.049,-1.884,0.835,-1.17,-1.05,-0.12,-2.1,-1.2,-0.9,2018
305,quinn cook,33,740,-11.2,0.593,-2.705,-1.637,-1.067,-1.44,-1.78,0.33,-4.0,-3.8,-0.2,2018
306,matthew dellavedova,38,712,-6.4,0.500,-2.393,-1.198,-1.195,-0.62,-0.18,-0.44,-4.6,-3.1,-1.5,2018

In [48]:
wingspans=pd.read_csv("01-interim/wingspan_cleaned/combined_cleaned.csv")
wingspans.head(3)

                name  height_inches  wingspan_inches  relative
0      kenny adeleke          78.50            82.25      3.75
1       maurice ager          75.25            79.75      4.50
2  lamarcus aldridge          82.00            88.75      6.75

In [52]:
wingspans=wingspans.rename(columns={"name":"Player"})
wingspans

                 Player  height_inches  wingspan_inches  relative
0         kenny adeleke          78.50            82.25      3.75
1          maurice ager          75.25            79.75      4.50
2     lamarcus aldridge          82.00            88.75      6.75
3         morris almond          76.75            82.00      5.25
4          lou amundson          79.20            83.50      4.30
...                 ...            ...              ...       ...
1906         mike smith          78.50            80.50      2.00
1907   jarrett stephens          77.25            81.25      4.00
1908    bootsy thornton          75.50            78.50      3.00
1909       jaquay walls          73.25            74.50      1.25
1910     jameel watkins          81.50            90.00      8.50

[1825 rows x 4 columns]

In [53]:
final_df=pd.concat([final_2022, final_2021, final_2020, final_2019, final_2018])
final_df

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,mikal bridges,82,2854,9.5,0.627,1.376,1.181,0.195,1.21,0.22,0.99,2.7,0.9,1.8,2022
1,miles bridges,80,2837,5.8,0.593,0.797,-0.597,1.393,1.13,-0.28,1.40,1.7,-0.0,1.7,2022
2,demar derozan,76,2743,5.1,0.590,1.265,-1.530,2.794,0.40,-1.23,1.63,1.4,-2.3,3.6,2022
3,jayson tatum,76,2731,13.8,0.578,4.327,0.993,3.334,5.24,0.65,4.59,5.6,1.6,4.0,2022
4,saddiq bey,82,2704,-4.7,0.529,-2.045,-2.011,-0.034,-1.67,-1.25,-0.42,-2.3,-2.4,0.1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,nene,52,758,9.6,0.594,0.519,1.249,-0.730,1.90,2.99,-1.09,2.9,4.4,-1.5,2018
303,richaun holmes,48,746,-7.0,0.585,-0.227,0.006,-0.233,-0.05,0.51,-0.56,-2.0,-0.1,-1.8,2018
304,jabari parker,31,743,-4.2,0.550,-1.049,-1.884,0.835,-1.17,-1.05,-0.12,-2.1,-1.2,-0.9,2018
305,quinn cook,33,740,-11.2,0.593,-2.705,-1.637,-1.067,-1.44,-1.78,0.33,-4.0,-3.8,-0.2,2018
306,matthew dellavedova,38,712,-6.4,0.500,-2.393,-1.198,-1.195,-0.62,-0.18,-0.44,-4.6,-3.1,-1.5,2018

In [54]:
final_df['Player'] = final_df['Player'].str.replace(r'\s+', ' ', regex=True).str.strip()
wingspans['Player'] = wingspans['Player'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [56]:
true_final = final_df.merge(
    wingspans[["Player", "height_inches","wingspan_inches", "relative"]],
    on="Player",
    how="left"
)
true_final=true_final.dropna()
true_final.to_csv("02-processed/final_data.csv", index=False)
true_final

,Player,G,MP,On-Off,TS%,LEBRON,D-LEBRON,O-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season,height_inches,wingspan_inches,relative
0,mikal bridges,82,2854,9.5,0.627,1.376,1.181,0.195,1.21,0.22,0.99,2.7,0.9,1.8,2022,77.75,85.00,7.25
1,miles bridges,80,2837,5.8,0.593,0.797,-0.597,1.393,1.13,-0.28,1.40,1.7,-0.0,1.7,2022,77.25,81.50,4.25
2,demar derozan,76,2743,5.1,0.590,1.265,-1.530,2.794,0.40,-1.23,1.63,1.4,-2.3,3.6,2022,77.50,81.00,3.50
3,jayson tatum,76,2731,13.8,0.578,4.327,0.993,3.334,5.24,0.65,4.59,5.6,1.6,4.0,2022,79.50,83.00,3.50
4,saddiq bey,82,2704,-4.7,0.529,-2.045,-2.011,-0.034,-1.67,-1.25,-0.42,-2.3,-2.4,0.1,2022,79.00,83.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,shane larkin,54,775,-2.6,0.491,-1.276,-0.008,-1.268,-1.30,0.25,-1.55,-0.1,1.6,-1.7,2018,70.25,70.75,0.50
1548,terrance ferguson,61,763,-12.7,0.545,-3.014,-1.176,-1.837,-1.29,-0.07,-1.22,-4.5,-2.6,-1.9,2018,77.50,80.75,3.25
1549,nene,52,758,9.6,0.594,0.519,1.249,-0.730,1.90,2.99,-1.09,2.9,4.4,-1.5,2018,81.25,88.50,7.25
1550,richaun holmes,48,746,-7.0,0.585,-0.227,0.006,-0.233,-0.05,0.51,-0.56,-2.0,-0.1,-1.8,2018,80.25,85.50,5.25
1552,quinn cook,33,740,-11.2,0.593,-2.705,-1.637,-1.067,-1.44,-1.78,0.33,-4.0,-3.8,-0.2,2018,72.25,76.00,3.75