In [20]:
import pandas as pd

In [113]:
lebron_2022=pd.read_csv("01-interim/lebron_cleaned/lebron_2022_cleaned.csv")
lebron_2022['Player'] = lebron_2022['Player'].str.lower()
lebron_2021=pd.read_csv("01-interim/lebron_cleaned/lebron_2021_cleaned.csv")
lebron_2021['Player'] = lebron_2021['Player'].str.lower()
lebron_2020=pd.read_csv("01-interim/lebron_cleaned/lebron_2020_cleaned.csv")
lebron_2020['Player'] = lebron_2020['Player'].str.lower()
lebron_2019=pd.read_csv("01-interim/lebron_cleaned/lebron_2019_cleaned.csv")
lebron_2019['Player'] = lebron_2019['Player'].str.lower()
lebron_2018=pd.read_csv("01-interim/lebron_cleaned/lebron_2018_cleaned.csv")
lebron_2018['Player'] = lebron_2018['Player'].str.lower()

In [114]:
raptor_2022=pd.read_csv("01-interim/raptor_cleaned/raptor_2022.csv")
raptor_2022['player_name'] = raptor_2022['player_name'].str.lower()
raptor_2021=pd.read_csv("01-interim/raptor_cleaned/raptor_2021.csv")
raptor_2021['player_name'] = raptor_2021['player_name'].str.lower()
raptor_2020=pd.read_csv("01-interim/raptor_cleaned/raptor_2020.csv")
raptor_2020['player_name'] = raptor_2020['player_name'].str.lower()
raptor_2019=pd.read_csv("01-interim/raptor_cleaned/raptor_2019.csv")
raptor_2019['player_name'] = raptor_2019['player_name'].str.lower()
raptor_2018=pd.read_csv("01-interim/raptor_cleaned/raptor_2018.csv")
raptor_2018['player_name'] = raptor_2018['player_name'].str.lower()

In [115]:
darko_2022=pd.read_csv("01-interim/darko_cleaned/darko_2022.csv")
darko_2022['player_name'] = darko_2022['player_name'].str.lower()
darko_2021=pd.read_csv("01-interim/darko_cleaned/darko_2021.csv")
darko_2021['player_name'] = darko_2021['player_name'].str.lower()
darko_2020=pd.read_csv("01-interim/darko_cleaned/darko_2020.csv")
darko_2020['player_name'] = darko_2020['player_name'].str.lower()
darko_2019=pd.read_csv("01-interim/darko_cleaned/darko_2019.csv")
darko_2019['player_name'] = darko_2019['player_name'].str.lower()
darko_2018=pd.read_csv("01-interim/darko_cleaned/darko_2018.csv")
darko_2018['player_name'] = darko_2018['player_name'].str.lower()

In [116]:
ts_2022=pd.read_csv("01-interim/TS_cleaned/ts_2022_clean.csv")
ts_2022['Player'] = ts_2022['Player'].str.lower()
ts_2021=pd.read_csv("01-interim/TS_cleaned/ts_2021_clean.csv")
ts_2021['Player'] = ts_2021['Player'].str.lower()
ts_2020=pd.read_csv("01-interim/TS_cleaned/ts_2020_clean.csv")
ts_2020['Player'] = ts_2020['Player'].str.lower()
ts_2019=pd.read_csv("01-interim/TS_cleaned/ts_2019_clean.csv")
ts_2019['Player'] = ts_2019['Player'].str.lower()
ts_2018=pd.read_csv("01-interim/TS_cleaned/ts_2018_clean.csv")
ts_2018['Player'] = ts_2018['Player'].str.lower()

In [117]:
on_off_2022=pd.read_csv("01-interim/on_off_cleaned/of_2022_clean.csv")
on_off_2022['Player'] = on_off_2022['Player'].str.lower()
on_off_2021=pd.read_csv("01-interim/on_off_cleaned/of_2021_clean.csv")
on_off_2021['Player'] = on_off_2021['Player'].str.lower()
on_off_2020=pd.read_csv("01-interim/on_off_cleaned/of_2020_clean.csv")
on_off_2020['Player'] = on_off_2020['Player'].str.lower()
on_off_2019=pd.read_csv("01-interim/on_off_cleaned/of_2019_clean.csv")
on_off_2019['Player'] = on_off_2019['Player'].str.lower()
on_off_2018=pd.read_csv("01-interim/on_off_cleaned/of_2018_clean.csv")
on_off_2018['Player'] = on_off_2018['Player'].str.lower()

In [149]:
merged_2022=pd.merge(
    darko_2022,
    raptor_2022,
    on="player_name",
)
merged_2022_2=pd.merge(
    on_off_2022,
    ts_2022,
    on="Player"
)
merged_2022_3=pd.merge(
    merged_2022_2,
    lebron_2022,
    on="Player"
)
final_2022=pd.merge(
    merged_2022_3,
    merged_2022,
    left_on="Player",
    right_on="player_name",
    how="inner"
)
final_2022=final_2022.drop(columns=["player_name"])
final_2022["Season"]=2022
final_2022

In [151]:
merged_2021=pd.merge(
    darko_2021,
    raptor_2021,
    on="player_name",
)
merged_2021_2=pd.merge(
    on_off_2021,
    ts_2021,
    on="Player"
)
merged_2021_3=pd.merge(
    merged_2021_2,
    lebron_2021,
    on="Player"
)
final_2021=pd.merge(
    merged_2021_3,
    merged_2021,
    left_on="Player",
    right_on="player_name",
    how="inner"
)
final_2021=final_2021.drop(columns=["player_name"])
final_2021["Season"]=2021
final_2021

,Player,G,MP,On-Off,TS%,LEBRON,O-LEBRON,D-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,julius randle,71,2667,0.2,0.567,0.266,0.150,0.116,0.65,-0.45,1.11,2.5,2.1,0.4,2021
1,rj barrett,72,2511,0.4,0.535,-1.853,-1.116,-0.737,-0.60,-0.17,-0.43,-0.0,-0.3,0.3,2021
2,buddy hield,71,2433,6.9,0.567,0.145,0.842,-0.697,0.01,-0.97,0.98,0.4,-1.5,1.9,2021
3,damian lillard,67,2398,6.6,0.623,3.724,5.613,-1.889,3.97,-1.68,5.65,6.1,-2.2,8.3,2021
4,terry rozier,69,2383,0.1,0.575,-0.427,1.139,-1.566,-0.54,-1.16,0.61,1.6,-1.2,2.7,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,demarcus cousins,41,713,0.0,0.537,1.208,-0.625,1.832,-1.10,0.48,-1.58,1.6,2.8,-1.2,2021
288,tyler johnson,39,684,-0.2,0.546,-2.143,-0.406,-1.738,-1.89,-1.20,-0.69,-1.6,-0.9,-0.7,2021
289,de'andre hunter,23,678,4.2,0.603,-0.006,-0.128,0.122,-0.71,-0.25,-0.45,3.2,3.9,-0.7,2021
290,george hill,30,672,3.9,0.596,-1.084,-0.260,-0.824,-1.16,-0.10,-1.06,1.9,2.2,-0.3,2021
291,onyeka okongwu,50,601,-10.0,0.655,-0.285,-1.472,1.187,-0.61,0.48,-1.09,-1.1,0.7,-1.8,2021

In [152]:
merged_2020=pd.merge(
    darko_2020,
    raptor_2020,
    on="player_name",
)
merged_2020_2=pd.merge(
    on_off_2020,
    ts_2020,
    on="Player"
)
merged_2020_3=pd.merge(
    merged_2020_2,
    lebron_2020,
    on="Player"
)
final_2020=pd.merge(
    merged_2020_3,
    merged_2020,
    left_on="Player",
    right_on="player_name",
    how="inner"
)
final_2020=final_2020.drop(columns=["player_name"])
final_2020["Season"]=2020
#final_2020

In [153]:
merged_2019=pd.merge(
    darko_2019,
    raptor_2019,
    on="player_name",
)
merged_2019_2=pd.merge(
    on_off_2019,
    ts_2019,
    on="Player"
)
merged_2019_3=pd.merge(
    merged_2019_2,
    lebron_2019,
    on="Player"
)
final_2019=pd.merge(
    merged_2019_3,
    merged_2019,
    left_on="Player",
    right_on="player_name",
    how="inner"
)
final_2019=final_2019.drop(columns=["player_name"])
final_2019["Season"]=2019
#final_2019

In [154]:
merged_2018=pd.merge(
    darko_2018,
    raptor_2018,
    on="player_name",
)
merged_2018_2=pd.merge(
    on_off_2018,
    ts_2018,
    on="Player"
)
merged_2018_3=pd.merge(
    merged_2018_2,
    lebron_2018,
    on="Player"
)
final_2018=pd.merge(
    merged_2018_3,
    merged_2018,
    left_on="Player",
    right_on="player_name",
    how="inner"
)
final_2018=final_2018.drop(columns=["player_name"])
final_2018["Season"]=2018
#final_2018

In [155]:
wingspans=pd.read_csv("01-interim/wingspan_cleaned/combined_cleaned_true_final.csv")
wingspans.head(3)

   Unnamed: 0               name  height_inches  wingspan_inches  relative
0           0      Kenny Adeleke          78.50            82.25      3.75
1           1       Maurice Ager          75.25            79.75      4.50
2           2  LaMarcus Aldridge          82.00            88.75      6.75

In [156]:
def normalize_name(name):
    if "," in name:
        parts=name.split(",", 1)
        last=parts[0].strip()
        first=parts[1].strip()
        return f"{first} {last}"
    else:
        return name.strip()

In [157]:
wingspans=wingspans.drop(columns=["Unnamed: 0"])

In [164]:
wingspans=wingspans.rename(columns={"name":"Player"})
wingspans["Player"]=wingspans["Player"].apply(normalize_name)
wingspans["relative"]=wingspans["relative"].round(2)
wingspans=wingspans.drop_duplicates(subset=["Player"])
wingspans

                 Player  height_inches  wingspan_inches  relative
0         kenny adeleke          78.50            82.25      3.75
1          maurice ager          75.25            79.75      4.50
2     lamarcus aldridge          82.00            88.75      6.75
3         morris almond          76.75            82.00      5.25
4          lou amundson          79.20            83.50      4.30
...                 ...            ...              ...       ...
1672         mike smith          78.50            80.50      2.00
1673   jarrett stephens          77.25            81.25      4.00
1674    bootsy thornton          75.50            78.50      3.00
1675       jaquay walls          73.25            74.50      1.25
1676     jameel watkins          81.50            90.00      8.50

[1054 rows x 4 columns]

In [170]:
final_df=pd.concat([final_2022, final_2021, final_2020, final_2019, final_2018])
final_df

,Player,G,MP,On-Off,TS%,LEBRON,O-LEBRON,D-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season
0,mikal bridges,82,2854,9.5,0.627,1.376,0.195,1.181,1.21,0.22,0.99,2.7,0.9,1.8,2022
1,miles bridges,80,2837,5.8,0.593,0.797,1.393,-0.597,1.13,-0.28,1.40,1.7,-0.0,1.7,2022
2,demar derozan,76,2743,5.1,0.590,1.265,2.794,-1.530,0.40,-1.23,1.63,1.4,-2.3,3.6,2022
3,jayson tatum,76,2731,13.8,0.578,4.327,3.334,0.993,5.24,0.65,4.59,5.6,1.6,4.0,2022
4,saddiq bey,82,2704,-4.7,0.529,-2.045,-0.034,-2.011,-1.67,-1.25,-0.42,-2.3,-2.4,0.1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,terrance ferguson,61,763,-12.7,0.545,-3.014,-1.837,-1.176,-1.29,-0.07,-1.22,-4.5,-2.6,-1.9,2018
281,richaun holmes,48,746,-7.0,0.585,-0.227,-0.233,0.006,-0.05,0.51,-0.56,-2.0,-0.1,-1.8,2018
282,jabari parker,31,743,-4.2,0.550,-1.049,0.835,-1.884,-1.17,-1.05,-0.12,-2.1,-1.2,-0.9,2018
283,quinn cook,33,740,-11.2,0.593,-2.705,-1.067,-1.637,-1.44,-1.78,0.33,-4.0,-3.8,-0.2,2018
284,matthew dellavedova,38,712,-6.4,0.500,-2.393,-1.195,-1.198,-0.62,-0.18,-0.44,-4.6,-3.1,-1.5,2018

In [172]:
final_df['Player'] = final_df['Player'].str.replace(r'\s+', ' ', regex=True).str.strip()
wingspans['Player'] = wingspans['Player'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [180]:
true_final = final_df.merge(
    wingspans[["Player", "height_inches","wingspan_inches", "relative"]],
    on="Player",
    how="left"
)
true_final=true_final.dropna()
true_final.to_csv("02-processed/final_data.csv", index=False)
true_final

,Player,G,MP,On-Off,TS%,LEBRON,O-LEBRON,D-LEBRON,dpm,d_dpm,o_dpm,raptor_total,raptor_defense,raptor_offense,Season,height_inches,wingspan_inches,relative
1,miles bridges,80,2837,5.8,0.593,0.797,1.393,-0.597,1.13,-0.28,1.40,1.7,-0.0,1.7,2022,77.25,81.50,4.25
2,demar derozan,76,2743,5.1,0.590,1.265,2.794,-1.530,0.40,-1.23,1.63,1.4,-2.3,3.6,2022,77.50,81.00,3.50
5,tyrese haliburton,77,2695,-1.5,0.595,0.784,1.238,-0.454,0.48,-0.78,1.26,1.7,-1.1,2.8,2022,76.75,79.75,3.00
6,russell westbrook,78,2678,-3.6,0.512,-0.954,0.482,-1.435,-0.35,-0.66,0.31,-3.2,-2.1,-1.2,2022,74.25,79.75,5.50
7,trae young,76,2652,3.4,0.603,3.554,5.093,-1.538,2.53,-2.47,5.00,3.7,-3.0,6.7,2022,72.50,75.00,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,isaiah thomas,32,862,-7.9,0.508,-1.733,0.802,-2.535,-1.64,-2.64,1.00,-2.9,-3.1,0.1,2018,68.75,73.75,5.00
1450,ekpe udoh,63,810,-0.6,0.560,0.461,-2.237,2.698,0.03,1.87,-1.85,1.6,3.7,-2.1,2018,80.75,88.50,7.75
1451,jordan bell,57,809,6.8,0.641,1.010,-0.198,1.208,0.26,1.16,-0.90,2.6,2.5,0.2,2018,79.00,83.75,4.75
1455,jawun evans,48,778,1.4,0.421,-1.631,-1.628,-0.003,-2.50,-0.12,-2.38,-1.6,1.5,-3.0,2018,70.75,77.50,6.75
1458,terrance ferguson,61,763,-12.7,0.545,-3.014,-1.837,-1.176,-1.29,-0.07,-1.22,-4.5,-2.6,-1.9,2018,77.50,80.75,3.25

In [198]:
frag="luka"
print(raptor_2022[raptor_2022['player_name'].str.contains(frag)])
print(lebron_2022[lebron_2022['Player'].str.contains(frag)])
print(wingspans[wingspans['Player'].str.contains(frag)])

   player_name  raptor_total  raptor_defense  raptor_offense
5  luka doncic           6.4             0.6             5.7
          Player  LEBRON  O-LEBRON  D-LEBRON
7    luka dončić   3.948     4.152    -0.204
262   luka garza  -0.989    -0.071    -0.918
Empty DataFrame
Columns: [Player, height_inches, wingspan_inches, relative]
Index: []