In [1]:
import pandas as pd
import glob
import os
import pathlib

In [2]:
current_directory = pathlib.Path.cwd() #current directory filepath
subdirectory = 'frags'
target_directory = pathlib.Path.cwd() / subdirectory
file_list = list(target_directory.glob('*.csv'))

print(f'datasets merged: {len(file_list)}')

df = pd.DataFrame()

for file in file_list:
    add_df = pd.read_csv(file)
    df = pd.concat([df, add_df], ignore_index = True)

print(df.shape)


#display(df)

datasets merged: 20
(1313, 10)

In [3]:
#rename columns: need name, height, wingspan - and for later, way to 
df.columns = df.columns.str.strip()

names = {
    'Crom_text__NpR1_':'name',
    'tablescraper-selected-row 4':'height',
    'tablescraper-selected-row 8':'wingspan'
}

df = df.rename(columns=names)
df = df.drop(columns=['Crom_text__NpR1_ 2','tablescraper-selected-row','tablescraper-selected-row 2','tablescraper-selected-row 3','tablescraper-selected-row 5','tablescraper-selected-row 6','tablescraper-selected-row 7'])
df = df.dropna(axis='index', how='any')
df.to_csv('combined_cleaned.csv')
display(df)

                 name      height    wingspan
0          Quincy Acy    6' 6.5''   7' 2.75''
1     Harrison Barnes      6' 7''  6' 11.25''
2         Will Barton      6' 5''   6' 9.75''
3        Bradley Beal   6' 3.25''      6' 8''
4       J'Covan Brown      6' 1''   6' 5.25''
...               ...         ...         ...
1308  Hollis Thompson   6' 6.75''    6' 9.5''
1309     Dion Waiters    6' 2.5''   6' 7.25''
1310      Royce White      6' 7''      7' 0''
1311      Tony Wroten   6' 4.75''      6' 9''
1312     Tyler Zeller  6' 11.25''      7' 0''

[1149 rows x 3 columns]